{% extends "layout.html" %} {% block title %}Contribution{% endblock %} {% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %} {% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #4</h4>
      <p>Make a useful contribution for future iGEM teams. Use this page to document that contribution.</p>
      <p>If you are making a contribution by adding information to an existing Part or creating a new Part, you must document your contribution on the Part's Main Page on the <a href="https://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria. You can use this page to link to that part and include additional information about your contribution.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2024 Medals Page</a> for more information.</p>
    </div>
  </div>
</div> -->


<div class="background-overlay"></div>
<img class="X-background" src="https://static.igem.wiki/teams/5283/backgroundp/contribution.webp" alt="X-background">
<div class="X">
    <div class="X-title">
        <span>Contribution</span>
    </div>


    <div class="sidebar">
        <ul>
            <li><a href="#one" id="nav-one">Overview</a></li>
            <li><a href="#two" id="nav-two">New Diabetes Treatment Strategy - FIST</a></li>
            <li><a href="#three" id="nav-three">Foodborne induced secretion: the Frontier of technological innovation and breakthrough</a></li>
            <li><a href="#four" id="nav-three">EDUCATION</a></li>
            <li><a href="#five" id="nav-three">In terms of human care and concern</a></li>

        </ul>
    </div>

    <div class="X-content">
        <div class="h" id="one">
            <h1>Overview</h1>
            <p>The principles of openness and the practice of drawing on the experiences of previous iGEM teams are key reasons why iGEM has become a central hub for synthetic biology. During the project development process, we conduct research based on
                the outcomes of many previous iGEM projects, which provide valuable references and insights for our work. In return, we are willing to share the resources and knowledge we gain from our project with the entire community to promote the
                continuous progress and innovation of the iGEM community. On this page, we provide detailed descriptions of several contributions that may be of significant value to future iGEM teams. By sharing these achievements, we hope to provide
                solid support for future iGEM teams and drive the continued development of the synthetic biology field.</p>
        </div>

        <div class="h" id="two">
            <h1>New Diabetes Treatment Strategy - FIST</h1>
            <p>Diabetes, especially type 2 diabetes, has become one of the fastest growing global health emergencies of the 21st century. It is estimated that by 2023, 643 million people worldwide will have diabetes, and more than 90% of them will have type
                2 diabetes. Existing treatments mainly rely on lifestyle modification, drug therapy and blood glucose testing, but drug therapy has some problems, such as high frequency of medication, many side effects, and poor patient compliance.</p>
            <p>In order to better solve these problems, our team conducted extensive online and offline surveys and in-depth with experts in Xijing Hospital. We learned that type 2 diabetes mellitus is essentially a disorder of human glucose and lipid metabolism,
                and discussed the potential of intestinal flora transplantation and engineered lactic acid bacteria in the treatment of diabetes. The potential of gut microbiota transplantation and engineered lactic acid bacteria in the treatment of type
                2 diabetes was discussed, and FIST strategy was finally proposed, that is, engineered lactic acid bacteria based on foodborne stress-induced secretion strategy for the treatment of type 2 diabetes.</p>
            <img src="https://static.igem.wiki/teams/5283/contribution-img/1.webp" alt="con-1">
            <p>We aim to solve the non-specific problem of fecal microbiota transplantation by engineering L. lactus to express specific proteins for drug delivery through well-developed engineering tools and expression systems. To address the insulin resistance
                and insulin secretion deficiency in patients with type 2 diabetes mellitus, while achieving daily glycemic variability control. Specifically, FGF21 and P9 proteins were used to achieve specific and efficient diabetes treatment through
                foodborne stress-induced and constitutive expression.</p>
            <img src="https://static.igem.wiki/teams/5283/contribution-img/2.webp" alt="con-1">
            <p>FGF21 protein (fibroblast growth factor 21) is secreted by the liver, adipose tissue, and pancreas. By binding to its receptor FGFR1c and co-receptor β-Klotho, FGF21 enhances insulin sensitivity, promotes glucose uptake and lipolysis, improves
                insulin resistance, regulates fat metabolism, protects islet cells, and is antioxidant and anti-inflammatory. It is widely used in the research and treatment of diabetes and obesity. P9 protein comes from Akkermania mucophila, which is
                a secretory protein. It can promote GLP-1 secretion, increase insulin level, regulate appetite and body weight, protect islet cells by binding to ICAM-2 receptor on intestinal L cells, and plays an important role in the treatment of diabetes
                and the regulation of intestinal health. The combined use of FGF21 and P9 protein provides a new strategy and idea for the precision treatment of type 2 diabetes.</p>
        </div>

        <div class="h" id="three">
            <h1>Foodborne induced secretion: the Frontier of technological innovation and breakthrough</h1>

            <p>In response to postprandial glucose fluctuations in patients. At present, the blood glucose response is mostly through some chemical molecules and materials science methods, such as integrating some blood glucose binding molecules into hydrogels,
                microgels, liposomes, etc. However, these methods are difficult to achieve in bacteria. Therefore, we proposed a foodborne secretion induction strategy: we used the promoter groESL in Lactobacillus paracasei to respond to postprandial
                changes in cholate concentration as a switch for FGF21 secretion in Lactobacillus paracasei, which improved the specificity and response speed of treatment.</p>
            <h2>Extended studies of FGF21 protein and P9 protein:</h2>
            <p>Fusion protein design: We fused low molecular weight protamine (LMWP) with FGF21 to improve its absorption efficiency through intestinal cells into the blood, and optimized the thermal stability of FGF21 by protein structure prediction software.
                Constitutive expression of P9 protein: P9 protein was connected by a flexible linker with cA molecule as an anchoring domain to realize its directional expression on the surface of intestinal L cell membrane, which continuously stimulated
                GLP-1 secretion and increased baseline insulin level.</p>
            <p>Engineered lactic acid bacteria platform: We have created and documented a variety of functional units in the Parts Registry, including our engineered design and expression system for and proteins, which provides a rich basis for future research
                by future teams.</p>
            <h2>Experimental validation and results</h2>
            <p>Foodborne secretion strategy validation: The concentration of FGF21 was verified by ELISA experiments with different gradient concentrations of cholic acid, and the dose-response relationship was determined by modeling.</p>

            <p>Functional verification of the fusion protein: The His-tagged FGF21 was purified and its biological function was studied. The thermal stability and biological function of the enhanced FGF21 were tested by differential scanning fluorescence
                and WB.</p>
            <p>Functional validation of P9 protein: NCI-H716 cells were used to detect the effect of P9 on GLP-1 secretion, and immunofluorescence was used to verify the localization of P9 on the membrane surface. 3T3-L1 cells were used to verify the effect
                of FGF21 on insulin resistance.</p>
            <p>Experimental operation guide: We have recorded the specific methods and precautions of each step of experimental operation in detail, including the lessons of success and failure, which provides valuable experience sharing.</p>
        </div>

        <div class="h" id="four">
            <h1>EDUCATION</h1>
            <h2>IN SCHOOL</h2>
            <p>Throughout the advancement of the project, we endeavored to enhance public consciousness regarding diabetes and synthetic biology. We produced educational videos on this topic and propagated the concept and applications of synthetic biology
                via online platforms to a broader audience. We created titled "Don't Be a Little Sugar Person" related to biological themes, employing entertaining methods to enlighten more people on the challenges and significance of synthetic biology
                and diabetes research.</p>
            <img src="https://static.igem.wiki/teams/5283/contribution-img/3.webp" alt="con-4">
            <img src="https://static.igem.wiki/teams/5283/contribution-img/communication4.webp" alt="con-4">
            <p>We organized numerous synthetic biology promotion events in universities, middle schools, and primary schools to foster the interest and enthusiasm of the next generation in synthetic biology and stimulate public attention and support for
                this field. Furthermore, we advocated for healthy lifestyles and synthetic biology knowledge through activities such as eight-posture exercise and charity sales. We also designed a range of peripheral products related to lactic acid bacteria
                and guaranteed timely information dissemination and the continuous progress of the project through website design and updates.</p>
            <h2>In the community</h2>
            <p>Through a questionnaire survey, we gained an understanding of the public's cognition of type 2 diabetes and the attitudes of patients towards treatment modalities. During the Dragon Boat Festival period, we delved deep into the community,
                disseminated knowledge related to diabetes to residents through science popularization activities, and organized type 2 diabetes doctor-patient activities, interviewing stakeholders to dig deeper into the project.
            </p>
            <img src="https://static.igem.wiki/teams/5283/contribution-img/7.webp" alt="con-4">
            <img src="https://static.igem.wiki/teams/5283/contribution-img/8.webp" alt="con-4">
        </div>
        <div class="h" id="five">
            <h1>In terms of human care and concern</h1>
            <p>We pay special attention to the real needs and living conditions of diabetes patients. Through in-depth patient interviews and medical-patient activities, we understand the challenges they face in their daily lives and their expectations for
                treatment methods. We communicate directly with fecal microbiota transplant donors and diabetes patients to ensure that the project can truly improve their quality of life.</p>
            <strong><p><a href=" {{ url_for('pages',page='human-practices')}}#one">Click here and see more.</a></p></strong>
        </div>



    </div>
</div>

{% endblock %}