{% extends "layout.html" %} {% block title %}Project Description{% endblock %} {% block lead %}Describe how and why you chose your iGEM project.{% endblock %} {% block page_content %}
<!-- <div class=" row mt-4 ">
    <div class="col ">
        <div class="bd-callout bd-callout-info ">
            <h4>Bronze Medal Criterion #3</h4>
            <p>Describe how and why you chose your iGEM project.</p>
            <hr>
            <p>Please see the <a href="https://competition.igem.org/judging/medals ">2024 Medals Page</a> for more information.</p>
        </div>
    </div>
</div> -->

<!-- <div class="row mt-4 ">
  <div class="col-lg-8 ">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4 ">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark/description ">2022 DTU-Denmark</a></li>
      <li><a href="https://2019.igem.org/Team:ITESO_Guadalajara/Description ">2019 ITESO Guadalajara</a></li>
      <li><a href="https://2020.igem.org/Team:Technion-Israel/Description ">2020 Technion Israel</a></li>
      <li><a href="https://2020.igem.org/Team:Botchan_Lab_Tokyo/Description ">2020 Botchan Lab Tokyo</a></li>
      <li><a href="https://2020.igem.org/Team:St_Andrews/Description ">2020 St Andrews</a></li>
      <li><a href="https://2020.igem.org/Team:MIT/Description ">2020 MIT</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4 ">
  <div class="col-lg-8 ">
    <h2>Some advice</h2>
    <hr>
    <p>We encourage you to put up a lot of information and content on your wiki, but we also encourage you to include summaries as much as possible. If you think of the sections in your project description as the sections in a publication, you should try to be concise, accurate, and unambiguous in your achievements. Your Project Description should include more information than your project abstract.</p>
  </div>
  <div class="col-lg-4 ">
    <h2>References</h2>
    <hr>
    <p>iGEM teams are encouraged to record references you use during the course of your research. They should be posted somewhere on your wiki so that judges and other visitors can see how you thought about your project and what works inspired you.</p>
  </div>
</div> -->


<div class="background-overlay"></div>
<img class="X-background" src="https://static.igem.wiki/teams/5283/description-img/dscpt-4-3.webp" alt="X-background">
<div class="X">
    <div class="X-title">
        <span>Description</span>
    </div>


    <div class="sidebar">
        <ul>
            <li><a href="#one" id="nav-one">1 Background</a></li>
            <li><a href="#two" id="nav-two">2 Strike type 2 diabetes with FIST</a></li>
            <li><a href="#three" id="nav-three">3 Solve four problems in one way with FIST</a></li>
            <li><a href="#four" id="nav-one">4 Exercise Our FIST</a></li>
            <li><a href="#five" id="nav-two">5 One FIST for All</a></li>
        </ul>
    </div>

    <div class="X-content">
        <div class="h" id="one">
            <h1>1 Background</h1>
            <p>The International Diabetes Federation(IDF) estimated that <strong>537 million</strong> adults(10.5%) would have diabetes globally in 2021, with approximately 44.7% of adults with diabetes(240 million people) undiagnosed. The number of people with diabetes
                is expected to reach 784 million by 2045. <strong>Type 2 diabetes mellitus (T2DM)</strong>, which is caused by insulin resistance and islet cell destruction, accounts for more than 90% of diabetic patients and can develop quietly without noticeable
                symptoms in the patient's body, leading to a series of serious complications in the cardiovascular, cerebrovascular, retinal, renal areas and so on. Currently, the treatment of T2DM mainly consists of lifestyle improvement(diet, training),
                insulin injection and oral medication. Long-term insulin injections can lead to localized skin and fat lesions, systemic allergies and hypoglycemic reactions, while daily oral intake of multiple medications can cause a variety of side
                effects such as liver and kidney damage. At present, the public generally believes that diabetes is a long-term chronic and incurable disease that needs to be controlled by long-term medication, which causes serious economic and psychological
                burdens to patients. Therefore, it is urgent to develop a non-invasive diabetic drug that is non-invasive and has a low psychological burden for long-term intelligent control of blood glucose. </p>

            <img src="https://static.igem.wiki/teams/5283/description-img/dscpt-1-1.webp" alt="des-1">
            <h6>Source: verywellhealth.com</h6>
            <img src="https://static.igem.wiki/teams/5283/description-img/dscpt-1-2.webp" alt="des-1">
            <h6>Source: IDF Diabetes Atlas 10th edition 2021</h6>

        </div>
        <div class="h" id="two">
            <h1>2 Strike type 2 diabetes with FIST</h1>
            <p>This year, our AFMU-China team has designed a beneficial weapon to address the needs of T2DM patients: <strong>Foodborne-stress induced secretion therapy (FIST)</strong>. We hope to bring good news to many patients through a non-invasive and long-lasting
                approach, allowing them to eat what they want without the need for insulin injections. Next, we invite you to learn how we have provided a completely new approach to address the issues of type 2 diabetes.</p>
            <p>Obesity, immunity, genetics and other factors can lead to tissue insulin resistance (<strong>Problem 1</strong>), where the absolute value of insulin is high, but the tissue cannot respond to the relative lack of insulin. Furthermore, long-term poor blood
                sugar control (hyperglycaemia) will further lead to insulin resistance in target organs, and the subsequent long-term chronic progression of the disease will result in the destruction of beta cells in islets due to inflammatory cytokine
                storms and amyloid accumulation, thus reducing the absolute insulin level (<strong>Problem 2</strong>), which is manifested as absolute insufficient insulin.</p>
            <img src="https://static.igem.wiki/teams/5283/description-img/dscpt-2-1.webp" alt="des-2">
            <h6>The etiology of T2DM.</h6>
            <img src="https://static.igem.wiki/teams/5283/description-img/8-8-8.webp" alt="des-2">
            <h6>Changes in blood sugar and insulin levels in T2DM patients during the early and later stages.</h6>

            <p>In order to solve the problems of tissue insulin resistance and absolute insulin deficiency encountered by patients with type 2 diabetes in a way with relatively less psychological burden,<a href="{{ url_for('pages', page='human-practices') }}#3.2">through discussion with Professor Sun</a>.an expert in the treatment of metabolic diseases by fecal bacteria transplantation, we came up with the idea of non-invasive treatmgent of diabetes by improving the intestinal flora. However, at present, fecal bacteria transplantation still
                has shortcomings such as lack of disease targeting, risk of transmission of infectious pathogens, abnormal changes in intestinal microbes, etc. With the growing development of synthetic biology, we decided to use genetically engineered
                probiotics orally to achieve targeted delivery of specific hypoglycemic drugs. After several brainstorming sessions and discussions with some experts, we selected <strong>FGF21</strong> (BBa_K5283016), which is secreted by human liver, as an effector
                molecule to improve insulin resistance and protect islet secretion. The secretory protein <strong>P9</strong> (BBa_K5283019) from <span class="italic">Akkermansia muciniphila</span> bacteria was selected as the secretor of insulin incretin (Glucagon-like peptide 1,GLP-1). Their
                main advantages are safe source, strong effect and no obvious side effects reported, suitable for design and modification as drugs. The chassis cells were selected for <span class="italic"><strong>Lactococcus lactis NZ9000</strong></span> , a food-grade safe engineered lactic
                acid bacteria that can colonize the human gut for drug delivery.</p>
            
        </div>

        <div class="h" id="three">
            <h1>3 Solve four problems in one way with FIST</h1>
            <p>psychologically and economically. In order to achieve long-term control of blood sugar, there are still two problems, also the reasons why patients with type 2 diabetes need to inject insulin, that need to be solved, namely, blood sugar fluctuations
                after three meals (<strong>Problem 3</strong>) and the reduction of baseline insulin level (<strong>Problem 4</strong>). For those needle-phobic patients, injecting drugs before each meal is painful, which makes the design of blood glucose response elements so
                important. However, due to the simplex of bacteria protein, there are currently no biological elements that can respond to blood glucose in prokaryotic systems, so we came up with a sideway strategy.<a href="{{ url_for('pages', page='design') }}#one">(visit 'design' for more designing ideas)</a>.
                That is, to induce the secretion of FGF21 for a short period of time in an effort to rapidly lower blood glucose in a foodborne stress-induced manner (by responding to increased concentrations of cholic acid after a meal), This is achieved
                by the environmental stress-responsive promoter <strong>GroESL</strong> (BBa_K5283028) from <span class="italic">Lactobacillus paracasei NFBC 338</span>. For the continuous and stable expression of P9, we chose a cumulative expression mode, that is, the gentle and continuous
                delivery of P9 to the membrane surface through the P32 component promoter (BBa_K5283015), hoping to achieve the purpose of continuous stimulation of intestinal gland L cells, thereby increasing the baseline insulin level. Through the different
                secretion modes of the above two different proteins, we achieved the goal of whole-cycle regulation of blood glucose in T2DM patients.</p>
            <img src="https://static.igem.wiki/teams/5283/description-img/9-9-9.webp" alt="des-3">
            <h6>The four treatment challenges of T2DM</h6>
        </div>

        <div class="h" id="four">
            <h1>4 Exercise Our FIST</h1>
            <p>In order to bring our design into reality, we have continuously optimized our project in the process of experiment and social practice.</p>
            <p>The secretion of lactic acid bacteria itself is not high in efficiency, so we designed LEISSTCDA (BBa_K5283014) to enhance the secretion efficiency of protein. However, FGF21 has relatively poor thermal stability. We designed an enhanced FGF21
                (BBa_K5283018) by changing several amino acid sites through modeling the spatial structure simulation. Most of the anchoring proteins on the membrane surface are designed at the N-terminal, and the binding site of P9 is biased to the N-terminal.
                For this reason, we selected a CA-anchored protein (BBa_K5283020) that can be effectively inserted into the cell membrane without requiring the direction of the protein.</p>
            <p>The expression of FGF21 in <span class="italic">L.lactic NZ9000</span> was induced by cholic acid and purified. It was found that FGF21 could effectively improve insulin resistance and decrease blood glucose concentration in adipocytes. Through co-culture with NCI-H716
                cells, it was found that the P9 molecule expressed on the membrane surface can also effectively stimulate the secretion of GLP-1, laying a foundation for effectively reducing blood glucose. This indicates that our FIST lactic acid bacteria
                has been successfully constructed, which can meet the design requirements and solve the four intractable problems of T2DM patients.</p>
            <img src="https://static.igem.wiki/teams/5283/description-img/7-7-7.webp" alt="des-4">
            <img src="https://static.igem.wiki/teams/5283/design-img/dsgn-3-13new.webp" alt="des-4">
            <h6>Design of FGF21 and P9 protein expression plasmids.</h6>
            <img src="https://static.igem.wiki/teams/5283/description-img/dscpt-4-3.webp" alt="des-4">
            <h6>Schematic diagram of the FIST.</h6>
        </div>

        <div class="h" id="five">
            <h1>5 One FIST for All</h1>
            <p>We hope to develop a novel approach to diabetes treatment through the design of engineered <span class="italic">L. lactis</span>. This intelligent method, induced by foodborne stress, aims to coordinate and enhance the body's own hypoglycemic mechanisms. It seeks
                to achieve non-invasive, long-lasting, and more humanized relief, control, and even cure of diabetes. Imagine how exciting it would be if one day, drinking our yogurt once a week could treat type 2 diabetes. By that time, although diabetes
                may not have been cured, it seems to have vanished from the world! Hope our FIST will contribute to the global promotion of a new concept of diabetes health management and the meaningful resolution of the global diabetes pandemic.</p>
        </div>

    </div>
</div>

{% endblock %}