{% extends "layout.html" %} {% block title %}Education{% endblock %} {% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science
behind synthetic biology.{% endblock %} {% block page_content %}

<!-- <div class="row mt-4">

  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Education</h4>
      <p>How have you developed new opportunities to include more people in shaping synthetic biology? Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology. Document your approach and what was learned by everyone involved to compete for this award.</p>
      <p>To compete for the Best Education prize, select the prize on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a> and describe your work on this page.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2024 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2020.igem.org/Team:CCA_San_Diego/Education">2020 CCA San Diego</a></li>
      <li><a href="https://2020.igem.org/Team:Lambert_GA/Education">2020 Lambert GA</a></li>
      <li><a href="https://2020.igem.org/Team:Stanford/Education">2020 Stanford</a></li>
      <li><a href="https://2020.igem.org/Team:Waseda/Education">2020 Waseda</a></li>
      <li><a href="https://2020.igem.org/Team:Fudan/Education">2020 Fudan</a></li>
      <li><a href="https://2020.igem.org/Team:Toulouse_INSA-UPS/Education">2020 Toulouse INSA UPS</a></li>
    </ul>
  </div>
</div> -->

<div class="background-overlay"></div>
<img class="X-background" src="https://static.igem.wiki/teams/5283/edu-img/e3-8.webp" alt="X-background">
<div class="X">
    <div class="X-title">
        <span>Education</span>
    </div>


    <div class="sidebar">
        <ul>
            <li><a href="#one" id="nav-one">University</a></li>
            <li><a href="#two" id="nav-two">High school</a></li>
            <li><a href="#three" id="nav-three">Primary School</a></li>

        </ul>
    </div>

    <div class="X-content">
        <div class="h" id="one">
            <h1>University</h1>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e1-1.webp" alt="edu-1">

            <p>At the genetic engineering salon, AFMU-China team member Huang Yifei made a detailed introduction of synthetic biology. First, since the proposal of this concept was born in 2000, this emerging concept that integrates knowledge from multiple
                disciplines has developed rapidly. Second, by introducing Professor Drew Endy's research on the "Fail-safe" genetic codes system, it breaks the inherent thinking based on existing knowledge and allows everyone to appreciate the charm of
                synthetic biology. Finally, the introduction of FIST was introduced. </p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e1-2.webp" alt="edu-1">
            <img src="https://static.igem.wiki/teams/5283/edu-img/e1-3.webp" alt="edu-1">
            <p>During literature intensive reading session, Cao Yuhao also introduced synthetic biology and iGEM, analyzing and interpreting articles that apply relevant cutting-edge scientific and technological advancements.</p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e1-4.webp" alt="edu-1">
            <p>Teachers are very pleased that we can apply the knowledge we have learnt to practical research and has expressed that if we need more theoretical support, we can seek their help. Both teachers and students are very interested in this, raising
                their own doubts and sincerely hoping that the final product will provide a new solution for the treatment of diabetes. Through this discussion, we students found that synthetic biology is not something out of reach, but something that
                every student can get involved in and make a difference.</p>
        </div>
        <div class="h" id="two">
            <h1>High school</h1>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e2-1.webp" alt="edu-2">

            <img src="https://static.igem.wiki/teams/5283/edu-img/e2-2.webp" alt="edu-2">

            <p>AFMU-China team carefully planned and successfully held a high-quality, in-depth and highly educational activity to popularize synthetic biology knowledge in the High School affiliated to Xi 'an Jiaotong University. During this learning feast
                full of vitality and exploration spirit, Li Xiangchen introduced the core concepts, development history, latest research trends and broad future prospects of synthetic biology to the teachers and students in his profound and simple way.
                He vividly illustrates how synthetic biology, by virtue of its interdisciplinary nature, combines knowledge from many fields, including bioscience, engineering, and computer science, to generate numerous disruptive technologies and innovative
                applications.
            </p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e2-3.webp" alt="edu-2">
            <img src="https://static.igem.wiki/teams/5283/edu-img/e2-4.webp" alt="edu-2">
            <p>At the same time, in order to ensure the wide dissemination and in-depth understanding of the lecture content, in the live interactive session of the lecture, Wang Tianyao and Huang Yifei not only answered the various questions raised by the
                students, but also guided them to actively participate in the discussion, and encouraged them to think about the significance of synthetic biology and its application potential in real life from multiple perspectives. This interactive
                teaching mode has greatly aroused students' enthusiasm for learning, made them have a strong interest in synthetic biology, further broadened their scientific vision, and ignited their infinite longing and enthusiasm for future scientific
                and technological innovation.</p>
        </div>

        <div class="h" id="three">
            <h1>Primary School</h1>
            <h2>AFMU-China Team's Science Popularization Event Record at Xi'an Jingkai No.12 Primary School</h2>

            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-1.webp" alt="edu-3">

            <h3>Event Background:</h3>
            <p>In pursuit of scientific innovation and knowledge dissemination, the AFMU-China team, in collaboration with Prof. Zhao Junlong, recently visited Xi'an Jingkai No.12 Primary School to conduct a science popularization lecture themed "Metabolism
                in Adolescence and Diabetes Prevention." As an extension of the International Genetically Engineered Machine competition, this event aimed to bring cutting-edge scientific knowledge into schools while enhancing public awareness and prevention
                consciousness of diabetes-related health issues.</p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-2.webp" alt="edu-3">

            <h3>Event Preparation:</h3>
            <p>Prior to the event, we meticulously prepared comprehensive presentation materials, including PPT slides, interactive Q&A sessions, and physical exhibits, ensuring that the content was both scientifically rigorous and engagingly entertaining.
                Prof. Zhao Junlong also assisted the team in collating the latest research findings on adolescent metabolism and diabetes prevention, intending to deliver a captivating and insightful scientific feast for the teachers and students.</p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-3.webp" alt="edu-3">

            <h3>Event Scene:</h3>
            <p>On the day of the event, the teachers and students of Xi'an Jingkai No.12 Primary School eagerly awaited the arrival of the AFMU-China team. Prof. Zhao Junlong kicked off the event with humor, showcasing the achievements and team spirit of
                the iGEM competition, allowing the audience to experience the charm and joy of scientific research firsthand, instantly captivating their attention. We armed with vivid case studies and the latest scientific research, elucidated the characteristics
                of adolescent metabolism, the fundamentals of diabetes, and prevention strategies in a thorough yet accessible manner.</p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-4.webp" alt="edu-3">
            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-5.webp" alt="edu-3">
            <p>During the lecture, we not only introduced the classification, symptoms, and risk factors of diabetes but also elaborated on the significance of balanced diets, regular exercise, adequate sleep, and mental well-being in diabetes prevention.
                Special emphasis was placed on the physiological changes during adolescence and how to maintain health through scientific lifestyle adjustments.</p>

            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-6.webp" alt="edu-3">
            <p>To enhance interactivity, we incorporated several interactive segments. The enthusiastic participation of teachers and students saw them posing questions of interest to the team members. Prof. Zhao Junlong and his team patiently answered each
                query, encouraging everyone to adopt healthy habits and jointly safeguard their wellbeing.</p>
            <p>Many students remarked that the event had not only imparted practical health knowledge but also sparked their keen interest in scientific research.</p>
            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-7.webp" alt="edu-3">

            <img src="https://static.igem.wiki/teams/5283/edu-img/e3-9.webp" alt="edu-3">
        </div>
        <div class="h" id="four">
            <h1>Community</h1>
            <p>To give the middle-aged, elderly and children in the community a deeper understanding of the prevention and management of type 2 diabetes, to make them aware of our programme and to give us their opinions so that we can improve it, we went
                out into the community and started promoting the programme.</p>
            <p>We reached out to community stakeholders in the 7-85 age group and met patients with abdomen full of needle punctures from year-round insulin injections, as well as family members of diabetics who were not taking their medication on time,
                resulting in hypoglycaemic fainting. These made us realise the importance of our project.</p>
                <img src="https://static.igem.wiki/teams/5283/communication-img/edu-com1-nnnew.webp" alt="edu-4">
                <img src="https://static.igem.wiki/teams/5283/communication-img/edu-com2.webp" alt="edu-4">
                <img src="https://static.igem.wiki/teams/5283/communication-img/edu-com3.webp" alt="edu-4">
            <p>During the education process, we also received praise and expectations from most people about our project: 'Engineered Lactobacillus for the Treatment of T2DM', and some of them raised questions about safety and timeliness, which also provided
                a direction for the dissemination of the project.</p>
        </div>
        <div class="h" id="five">
            <h1>Electronic Media Education</h1>
            <p>To help T2DM stakeholders better understand diabetes and synthetic biology, we have recorded science podcasts and helped develop a science journal.</p>
            <img src="https://static.igem.wiki/teams/5283/communication-img/magzine.webp" alt="edu-5">
            <p>For more information, click here:<a href="{{ url_for('pages', page='communication')}}#five">BaDuanJin & Science Journal</a>.</p>

        </div>
    </div>

</div>



{% endblock %}