{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %} {% block page_content %}
<!--
<div class="row">
  <div class="col">
    <h2>Before you start</h2>
    <hr>
    <p>Please read the following pages:</p>
    <ul>
      <li><a href="https://competition.igem.org/deliverables/team-wiki" target="_blank">Wiki Requirements page</a></li>
      <li><a href="https://competition.igem.org/judging/pages-for-awards" target="_blank">Standard URL Pages for Awards</a></li>
    </ul>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h2>Styling your wiki</h2>
    <hr>
    <p>Feel free to customize the page styling according to your preferences, or you can simply leave the style as it is. It's wise to focus on a clear content first, and on a clean design later.</p>
    <p>Be cautious with the size of the assets like images, videos, and more, that you put in your wiki. Large file sizes can hinder the presentation of wikis due to slow internet connections. Remember to compress large files before uploading them to iGEM servers.</p>
    <p>This default wiki meets the requirements, enhances navigability, and provides a user-friendly experience for visitors. You should not feel obligated to go beyond the provided styling.</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Tips</h2>
    <hr>
    <p>This wiki will be your team's first interaction with the rest of the world, so here are a few tips to help you get started:</p>
    <ul>
      <li>State your accomplishments! Tell people what you have achieved from the start.</li>
      <li>Be clear about what you are doing and how you plan to do this.</li>
      <li>You have a global audience! Consider the different backgrounds that your users come from.</li>
      <li>Make sure information is easy to find; nothing should be more than 3 clicks away.</li>
      <li>Avoid using very small fonts and low contrast colors; information should be easy to read.</li>
      <li>Start documenting your project as early as possible; don't leave anything to the last minute before the Wiki Freeze. For a complete list of deadlines visit the <a href="https://competition.igem.org/calendar" target="_blank">iGEM Competition calendar</a></li>
      <li>Have lots of fun!</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspiration</h2>
    <hr>
    <p>You can also view other team wikis for inspiration! Here are some examples:</p>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark">2022 DTU-Denmark</a></li>
      <li><a href="https://2022.igem.wiki/virginia">2022 Virginia</a></li>
      <li><a href="https://2022.igem.wiki/crete">2022 Crete</a></li>
      <li><a href="https://2022.igem.wiki/estonia-tuit">2022 Estonia_TUIT</a></li>
      <li><a href="https://2022.igem.wiki/ashesighana">2022 AshesiGhana</a></li>
      <li><a href="https://2021.igem.org/Team:SDU-Denmark">2021 SDU-Denmark</a></li>
      <li><a href="https://2020.igem.org/Team:XMU-China">2020 XMU China </a></li>
      <li><a href="https://2020.igem.org/Team:TAS_Taipei">2020 TAS Taipei </a></li>
    </ul>
  </div>
</div>
-->

<div class="begin">
    <img class="title-1-3" src="https://static.igem.wiki/teams/5283/img/title-1-3.webp" alt="title-1-3">
    <img class="truck-1" src="https://static.igem.wiki/teams/5283/img/truck-1.webp" alt="truck-1">
    <img class="title-1-2" src="https://static.igem.wiki/teams/5283/img/title-1-2.webp" alt="title-1-2">
    <img class="title-1" src="https://static.igem.wiki/teams/5283/img/title-1.webp" alt="title-1">
</div>

<div class="history">
    <h1 data-aos="fade-up" data-aos-duration="600">Foodborne-stress Induced Secretion Therapy(FIST) </h1>
    <h2 data-aos="fade-up" data-aos-duration="600">——Engineered Lactobacillus Transplantation for T2DM Treatment</h2>
    <div class="history-1" data-aos="flip-left" data-aos-duration="1000">
        <img class="history-1-png" src="https://static.igem.wiki/teams/5283/img/history-1.webp" alt="history-1-png">
        <p> Diabetes has become a global health issue, with the International Diabetes Federation (IDF) projecting the number of diabetics to 784 million by 2045. Type 2 diabetes mellitus (T2DM) accounts for 90-95 percentage of all diabetes cases.</p>
    </div>

    <div class="history-2" data-aos="flip-right" data-aos-duration="1000">
        <img class="history-2-png" src="https://static.igem.wiki/teams/5283/img/history-2.webp" alt="history-2-png">
        <p>Injecting insulin and taking medicine are the main treatment options for T2DM. However, these treatments face with some challenges. Patients often fear of needles and worry about the risk of infections from long-term invasive injections. Additionally,
            taking drug can cause numerous side effects as well as require strict adherence to dosing schedules, therefore the flexibility is limited.
        </p>
    </div>

    <div class="history-3" data-aos="flip-left" data-aos-duration="1000">
        <img class="history-3-png" src="https://static.igem.wiki/teams/5283/img/history-3.webp" alt="history-3-png">
        <p>Our team has independently developed engineered Lactobacillus with “Foodborne-stress Induced Secretion Therapy” (FIST). This innovative approach offers a non-invasive and long-lasting treatment for T2DM. Now hop on board our T2DM ambulance as
            we travel to the gut to see how it works!
        </p>
    </div>

</div>

<div class="content ">
    <img class="home-background-2 " src="https://static.igem.wiki/teams/5283/img/home-background-2.webp " alt="home-background-2 ">
    <img class="title-2 " src="https://static.igem.wiki/teams/5283/img/title-2.webp " alt="title-2 ">
    <img class="button-3 " src="https://static.igem.wiki/teams/5283/img/button-3.webp " alt="button-3 ">
    <img class="button-4 " src="https://static.igem.wiki/teams/5283/img/button-4.webp " alt="button-4 ">
    <img class="truck-2 " src="https://static.igem.wiki/teams/5283/img/truck-2.webp " alt="truck-2 ">
    <img class="dwarf " src="https://static.igem.wiki/teams/5283/img/dwarf.webp " alt="dwarf ">
    <img class="button-2 " src="https://static.igem.wiki/teams/5283/img/button-2.webp " alt="button-2 " data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
</div>

<div class="flow">
    <div class="flow-background"></div>
    <img class="home-background-3-1 " src="https://static.igem.wiki/teams/5283/img/home-background-3-1.webp" alt="home-background-3-1 " data-aos="fade-up" data-aos-duration="1000">
    <img class="flows-12" src="https://static.igem.wiki/teams/5283/img/flows-12.webp" alt="flows-12" data-aos="fade-up">
    <img class="home-background-3-2 " src="https://static.igem.wiki/teams/5283/img/home-background-3-2.webp " alt="home-background-3-2 " data-aos="fade-down" data-aos-duration="1000">
    <img class="home-background-3-3 " src="https://static.igem.wiki/teams/5283/img/home-background-3-3.webp " alt="home-background-3-3 " data-aos="fade-down" data-aos-duration="1000">

    <img class="flows-1 " src="https://static.igem.wiki/teams/5283/img/flows-1.webp " alt="flows-1 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-2 " src="https://static.igem.wiki/teams/5283/img/flows-2.webp " alt="flows-2 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-3 " src="https://static.igem.wiki/teams/5283/img/flows-3.webp " alt="flows-3 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-13" src="https://static.igem.wiki/teams/5283/img/flows-13.webp" alt="flows-13" data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-14" src="https://static.igem.wiki/teams/5283/img/flows-14.webp" alt="flows-14" data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-15" src="https://static.igem.wiki/teams/5283/img/flows-15.webp" alt="flows-15" data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-5 " src="https://static.igem.wiki/teams/5283/img/flows-5.webp " alt="flows-5 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-4 " src="https://static.igem.wiki/teams/5283/img/flows-4.webp " alt="flows-4 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-6 " src="https://static.igem.wiki/teams/5283/img/flows-6.webp " alt="flows-6 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-7 " src="https://static.igem.wiki/teams/5283/img/flows-7.webp " alt="flows-7 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-8 " src="https://static.igem.wiki/teams/5283/img/flows-8.webp " alt="flows-8 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-9 " src="https://static.igem.wiki/teams/5283/img/flows-9.webp " alt="flows-9 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-10 " src="https://static.igem.wiki/teams/5283/img/flows-10.webp " alt="flows-10 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-11 " src="https://static.igem.wiki/teams/5283/img/flows-11.webp " alt="flows-11 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-16 " src="https://static.igem.wiki/teams/5283/backgroundp/1727876445919-1.webp" alt="flows-16 " data-aos="zoom-in-up" data-aos-duration="1500">
    <img class="flows-17 " src="https://static.igem.wiki/teams/5283/backgroundp/1727876452618-1.webp" alt="flows-17 " data-aos="zoom-in-up" data-aos-duration="1500">
    <a href="{{url_for('pages',page='description')}}">
        <button class="btn"><i class="animation"></i>READ MORE<i class="animation"></i></button>
    </a>
</div>


<!-- 
<div class="detail">

    <div class="detail-1">
        <a href="#section2">
            <button>
              <span class="box">
                  Project
              </span>
          </button>
        </a>
        <div class="detail-1-content">
            <a href="#">Description</a>
            <a href="#">Design</a>
            <a href="#">Contribution</a>
            <a href="#">Proof of Concept</a>
            <a href="#">Implementation</a>
            <a href="#">Best New Composite Part</a>
        </div>
    </div>

    <div class="detail-1">
        <a href="#section3">
            <button>
              <span class="box">
                  WET LAB
              </span>
          </button>
        </a>
        <div class="detail-1-content">
            <a href="#">Engineering</a>
            <a href="#">Notebook</a>
            <a href="#">Protocol</a>
            <a href="#">Results</a>
            <a href="#">Parts</a>
        </div>
    </div>

    <div class="detail-1">
        <a href="#section4">
            <button>
              <span class="box">
                  Dry Lab
              </span>
          </button>
        </a>
        <div class="detail-1-content">
            <a href="#">Model</a>
            <a href="#">Hard Ware</a>
            <a href="#">Measurement</a>
        </div>
    </div>

    <div class="detail-1">
        <a href="#section5">
            <button>
              <span class="box">
                  Human Practices
              </span>
          </button>
        </a>
        <div class="detail-1-content">
            <a href="#">Integrated Human Practice</a>
            <a href="#">Education</a>
            <a href="#">Communication</a>
        </div>
    </div>

    <div class="detail-1">
        <a href="#section6">
            <button>
              <span class="box">
                  Entrepreneurship
              </span>
          </button>
        </a>
    </div>

    <div class="detail-1">
        <a href="#section6">
            <button>
              <span class="box">
                  TEAM
              </span>
          </button>
        </a>
        <div class="detail-1-content">
            <a href="#">Member</a>
            <a href="#">Attribution</a>
            <a href="#">Collaboration</a>
        </div>
    </div>
</div> -->

{% endblock %}