{% extends "layout.html" %} {% block title %}Human Practices{% endblock %} {% block lead %}We ask every team to think deeply and creatively about whether their project is responsible and good for the world. Consider how the world affects your work and
how your work affects the world.{% endblock %} {% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #2</h4>
      <p>Explain how you have determined your work is responsible and good for the world.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2024 Medals Page</a> for more information.</p>
    </div>
  
    <div class="bd-callout bd-callout-info">
      <h4>Best Integrated Human Practices</h4>
      <p>How does your project affect society and how does society influence the direction of your project? How might ethical considerations and stakeholder input guide your project purpose and design and the experiments you conduct in the lab? How does this feedback enter into the process of your work all through the iGEM competition? Document a thoughtful and creative approach to exploring these questions and how your project evolved in the process to compete for this award!</p>
      <p>To compete for the Best Integrated Human Practices prize, select the prize on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a> and describe your work on this page.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2024 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr>
    <p>At iGEM we believe societal considerations should be upfront and integrated throughout the design and execution of synthetic biology projects. “Human Practices” refers to iGEM teams' efforts to actively consider how the world affects their work and their work affects the world. Through your Human Practices activities, your team should demonstrate how you have thought carefully and creatively about whether your project is responsible and good for the world. We invite you to explore issues relating (but not limited) to the ethics, safety, security, and sustainability of your project, and to show how this exploration feeds back into your project purpose, design, and execution.</p>
    <p>Please note you can compete for the Silver Medal criterion #2 and the Best Integrated Human Practices prize with this page.</p>
    <p>For more information, please see the <a href="https://responsibility.igem.org/human-practices/what-is-human-practices">Human Practices Hub</a>.</p>
    <p>On this page, your team should document all of your Human Practices work and activities. You should write about the Human Practices topics you considered in your project, document any activities you conducted to explore these topics (such as engaging with experts and stakeholders), describe why you took a particular approach (including referencing any work you built upon), and explain if and how you integrated takeaways from your Human Practices work back into your project purpose, design and/or execution.</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:Thessaly/Human_Practices">2019 Thessaly</a></li>
      <li><a href="https://2019.igem.org/Team:Linkoping_Sweden/Human_Practices">2019 Linkoping Sweden</a></li>
      <li><a href="https://2019.igem.org/Team:FDR-HB_Peru/Human_Practices">2019 FDR HB Peru</a></li>
      <li><a href="https://2020.igem.org/Team:William_and_Mary/Human_Practices">2020 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:Rochester/Human_Practices">2020 Rochester</a></li>
      <li><a href="https://2020.igem.org/Team:Leiden/Human_Practices">2020 Leiden</a></li>
      <li><a href="https://2020.igem.org/Team:Baltimore_BioCrew/Human_Practices">2020 Baltimore BioCrew</a></li>
    </ul>
  </div>
</div> -->

<!-- 导航栏 -->
<div class="background-overlay"></div>
<img class="X-background" src="https://static.igem.wiki/teams/5283/ihp-img/ihp-background.webp" alt="X-background">


<!--~~~~~~~~~~~~~~~~~~~~~Page页内容（begin）~~~~~~~~~~~~~~~~~~~~~-->
<div class="X">

    <div class="X-title">
        <span>Integrated Human Practice</span>
    </div>


    <div class="sidebar">
        <ul>
            <li><a href="#one" id="nav-one">Topic selection</a></li>
            <li><a href="#two" id="nav-two">Background investigation</a></li>
            <li><a href="#three" id="nav-three">Project initial design</a></li>
            <li><a href="#four" id="nav-three">Project design refinement</a></li>
            <li><a href="#five" id="nav-three">Market research & Humanities</a></li>
            <li><a href="#six" id="nav-three">Public feedback</a></li>
            <li><a href="#seven" id="nav-three">Deep Dive</a></li>
            <li><a href="#eight" id="nav-eight">Overview of the HP Event Schedule</a></li>
        </ul>
    </div>
    <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-overall.webp" alt="overall" style="width: 60%;margin-right: -17%;margin-top: 5%;">
    <div class="X-content">
        <div class="h" id="one">
            <h1>1 Topic selection</h1>
            <h2>1.1 Member meeting the first time</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-1-1-1.webp" alt="ihp-1-1-1">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>We organized an offline team meeting to help members get to know each other better, improve communication, and share research experiences. This meeting allowed us to discuss future projects and encourage new ideas.
                    <p>

                        <p>During the meeting, each team member shared information about themselves, including their education, professional background, and strengths. This helped everyone understand and appreciate each other's skills, creating a supportive
                            team environment.
                            <p>

                                <p>Former team members and our project leader also talked about the current iGEM project. They explained last year's research, challenges faced, and solutions found. This gave new members valuable insights and prepared everyone
                                    for the upcoming brainstorming session.
                                    <p>

                                        <p>During this communication, we got to know each other better and formally began to explore our project.</p>
            </div>
            <h2>1.2 Brainstorm the first time</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp1-2.webp" alt="ihp-1.2">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>At the inaugural brainstorming session of the Air Force Medical University (AFMU-China), the iGEMers demonstrated a remarkable level of engagement and collaborative spirit. This gathering served as a vibrant showcase not only for their
                    creative sparks but also a profound platform for intellectual exchange and knowledge sharing among team members. From microbial engineering inspired by food digestion to innovative applications of biological adaptation in nature, each
                    member presented their meticulously designed experimental schemes and preliminary results, showcasing their profound expertise and unique perspectives at the intersection of medicine and synthetic biology.
                    <p>

                        <p>During the session, members not only elaborated on their projects but also candidly shared the challenges encountered and strategies, fostering a culture of openness and trust within the team. The seasoned mentors, with their keen
                            insights, provided in-depth analysis and feedback on each project from perspectives ranging from technical implementation to application scenarios, guiding the team projects towards more practical and impactful directions.</p>
            </div>
            <h2>1.3 Lecture: Prof Hua Han, Professor, Molecular Biology and Biochemistry Team, Air Force Medical University</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-1-3-1.webp" alt="ihp-1.3.1">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>Professor Hua Han delivered an engaging lecture on synthetic biology, simplifying complex concepts and covering fundamentals and applications. He used research examples and personal experiences to illustrate the field's development, encouraging
                    creative thinking.
                    <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-1-3-2new.webp" alt="ihp-1.3.2">
                    <p>

                        <p>A Q&A session followed, where students discussed synthetic biology and the iGEM competition with Professors Han and Qin. Mr. Fan Fan then outlined the 2024 iGEM team selection process.
                            <p>

                                <p>Professor Qin praised the informative lecture and offered advice to potential iGEM participants. This seminar provided a solid foundation for students interested in the international iGEM competition and synthetic biology.
                                    <p>

                                        <p>This training seminar enhanced participants' understanding of the iGEM competition and synthetic biology, providing a solid knowledge foundation for students aspiring to join the international iGEM competition.</p>
            </div>
            <h2>1.4 Brainstorm the second time</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp1-3-2.webp" alt="ihp-1.4">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>The 2024 Second Brainstorming Session of AFMU-China deepened medical exploration. Pengyu Wang proposed using FGF21 via synthetic biology for diabetes treatment, inspired by clinical observations. Other groups expanded on previous ideas:
                    Yuhao Cao's team explored environmental remediation and medical applications, Yifei Huang's focused on nicotine metabolism, and Yunhai Xu introduced MICP for water purification.
                    <p>

                        <p>We also detailed FGF21's potential in diabetes therapy, including engineering Lactococcus lactis for delivery. They addressed safety concerns by considering feedback regulatory elements.
                            <p>

                                <p>The session strengthened medical exploration commitment and team collaboration, aiming to leverage synthetic biology for human health enhancement. After extensive deliberation, the team identified the specific molecules
                                    for our experiments and largely finalized the project's foundation.</p>
            </div>
        </div>

        <div class="h" id="two">
            <h1>2 Background investigation</h1>

            <h2>2.1 Interview: Associate Professor Zhang Qiuju, Department of Ethics, Air Force Medical University</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-1-1.webp" alt="ihp-2.1.1">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>This interview aims to deepen our understanding of bioethics, the requirements for writing informed consent forms, and the necessary preparations for future product development and marketing. We also hope to explore the potential impact
                    of these products on individuals and society. The insights gained from this experience will significantly influence our future research endeavors.
                    <p>

                        <p>In our discussion with Associate Professor Qiuju Zhang, she emphasized the critical role of informed consent forms. These legal documents serve to protect participants' privacy and ensure they fully comprehend the research's purpose,
                            process, and potential risks. Professor Zhang highlighted key aspects of creating effective informed consent forms, stressing the importance of using simple language and providing transparent information.</p>
                        <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-1-2.webp" alt="ihp-2.1.2">
                        <p>Regarding the survey questionnaires, she shared many key elements for designing effective survey questionnaires, including how to ensure the clarity of questions, avoid leading questions, and ensure the anonymity and confidentiality
                            of the questionnaires. In addition, she provided practical tips on how to collect and analyze data.</p>
                        <p>When it comes to conducting clinical trials and preparing for market entry in the future, she explained in detail the complex process that clinical medicine go through from laboratory research to market promotion. We learned that
                            products must go through a rigorous ethical review process before entering multiple stages of clinical trials, with strict review standards and ethical considerations at each stage, from preliminary safety assessments to large-scale
                            efficacy testing. This includes assessing the necessity and design of the research, evaluating potential risks to participants, and ensuring the fairness and scientific nature of the research, monitoring the progress of the
                            trial, and dealing with any issues that arise during the trial.</p>
                        <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-1-3.webp" alt="ihp-2.1.3">
                        <p>Throughout the interview, ethical issues were always at the core of the discussion. The expert emphasized the importance of maintaining ethical standards in all research activities, whether it is in designing questionnaires, obtaining
                            informed consent, or conducting clinical trials.</p>
                        <p>The support of ethics expert Qiuju Zhang also gave us the confidence to launch the entire campaign, allowing the team to pay more attention to protecting stakeholders' information and dignity, guiding product development, and preserving
                            the product's social impact.</p>
            </div>
            <h2>2.2 Questionnaire: public awareness of diabetes</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-2-1.webp" alt="ihp-2.2">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>The AFMU-China team designed an exhaustive questionnaire to better understand the public's awareness of type 2 diabetes and the attitudes of people with diabetes towards various treatment modalities. The questionnaire aims to analyze the
                    general public's understanding of the basic knowledge of type 2 diabetes through systematic question collection, including but not limited to the causes of the disease, typical symptoms, routine screening methods and other core contents.
                    At the same time, we will explore in depth how the patient group understands and views the daily management and treatment methods such as diet control, exercise therapy, medication, blood glucose monitoring when facing type 2 diabetes,
                    as well as their decision-making tendency and actual experience when choosing and accepting different treatment options.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-2-2.webp" alt="ihp-2.2">
                <p>Through the extensive collection and in-depth analysis of this questionnaire, AFMU-China expects to comprehensively grasp the current status of public cognition of type 2 diabetes and patients' attitude towards treatment, and provide strong
                    data support and decision-making basis for improving public health literacy, optimizing diabetes management strategies, and improving patients' quality of life. Participating members include Chen Zihan, Xie Zisho and Cao Yuhao. As
                    the team leader, Zihan Chen is responsible for the overall research design and project coordination.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-2-3.webp" alt="ihp-2.2">
                <p>Based on the results of the questionnaire survey, we found that the age distribution of diabetes patients is olive-shaped, which means that the number of elderly and adolescents is relatively small, while the proportion of middle-aged
                    individuals is high. This phenomenon may be related to the lifestyle, work pressure, and physiological changes of middle-aged people, which could lead to an increased risk of diabetes.</p>
                <p>Furthermore, we suggest that the public concern for diabetic patients is insufficient, and there is a lack of understanding of the daily life precautions that patients need to take. Diabetes is a chronic disease, and its complications
                    may develop gradually over the long term, so it may not attract immediate attention like other acute diseases. In addition, the early symptoms of diabetes may not be obvious, leading to many people failing to receive a timely diagnosis
                    and treatment.
                </p>
                <p>Addressing this issue, we plan to design targeted recipes, nursing books, and promotional brochures to better serve these groups and facilitate their lives. At the same time, we aim to help the general public better understand this disease.</p>
            </div>
            <h2>2.3 Interview: Mr. Mao, a type 2 diabetic and also an influencer on tictok</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-2-3.webp" alt="ihp-2.3">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>At the 2024 Third Brainstorming Session of the AFMU Humanities Practice Group, team members revisited FGF21’s (Fibroblast Growth Factor 21) mechanisms with renewed enthusiasm. The meeting reinforced research on FGF21's potential in diabetes
                    treatment and led to new insights. Mr. Wang Pengyu proposed combining FGF21 with GLP-1 (Glucagon-Like Peptide-1), highlighting FGF21’s role in metabolism and GLP-1’s ability to stimulate insulin secretion. The synergy between these
                    factors could significantly enhance diabetes treatment outcomes.
                    <p>
                        <p>The team chose Lactococcus lactis as the vector for its safety and suitability for genetic engineering, laying a strong foundation for future research. Active discussions showcased the group’s expertise and collaborative spirit,
                            clarifying the research direction and outlining a detailed experimental plan.</p>
            </div>
        </div>

        <div class="h" id="three">
            <h1>3 Project initial design</h1>

            <h2>3.1 Brainstorm the third time </h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-1-1.webp" alt="ihp-3-1">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>At the 2024 Third Brainstorming Session of the AFMU Humanities Practice Group, team members convened once again, delving deeper into the mechanisms of FGF21 (Fibroblast Growth Factor 21) with renewed vigor and productivity. This meeting
                    not only reinforced previous research findings on the potential of FGF21 in diabetes treatment but also ushered in a new breakthrough through the active engagement of team members.</p>
                <p>Led by Mr. Wang Pengyu, based on his clinical observations and literature reviews, an innovative idea was proposed: the combined application of FGF21 and GLP-1 (Glucagon-Like Peptide-1). He elaborated on the pivotal role of FGF21 in promoting
                    beige fat formation, enhancing energy metabolism, and regulating glucose and lipid metabolism. Meanwhile, GLP-1, as a crucial incretin, significantly stimulates insulin secretion, inhibits gastric emptying, and improves beta-cell function.
                    The synergistic effect of these two factors, when combined, is expected to significantly enhance the therapeutic outcomes for diabetic patients.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-1-2.webp" alt="ihp-3.1">
                <p>To materialize this innovative concept, the team unanimously decided upon Lactococcus lactis as the vector component. As a probiotic resident in the gut, Lactococcus lactis boasts favorable biocompatibility and safety, coupled with its
                    amenability to genetic engineering. This choice exemplifies the team's meticulous consideration in biotechnology application and lays a solid foundation for subsequent experimental research.</p>
                <p>Throughout the meeting, team members actively participated in discussions, sharing their insights and demonstrating the professional acumen and collaborative spirit of the AFMU-China team in the field of synthetic biology. As a result,
                    the research direction for the combined application of FGF21-GLP-1 was clarified, and a detailed experimental plan was outlined, charting the course for subsequent scientific endeavors.</p>
            </div>
            <h2>3.2 Interview: Professor Sun Shiren, director of the Nephrology Department, Xijing Hospital </h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-3-3-1.webp" alt="ihp-3.2">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>To deepen our research, we interviewed Prof. Sun about the feasibility of colonizing engineered bacteria in the gut using Lactobacilli. He shared insights on using yogurt as a carrier, discussing challenges like safe Lactobacilli levels
                    and colonization time. Prof. Sun also suggested combining our engineered Lactobacilli for type 2 diabetes with fecal microbiota transplantation (FMT) to enhance effectiveness, while highlighting considerations regarding plasmid construction.
                    <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-3-3-2.webp" alt="ihp-3.2">
                    <p>He concluded that current FMT research shows promising results, with some patients reporting improvements, inspiring us to explore future treatment options.</p>
                    <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-3-3-3.webp" alt="ihp-3.2">
                    <p>We not only gained valuable suggestions from the professor on the engineered Lactobacilli project but also gained a deeper understanding of the clinical application and latest developments of FMT. We believe that breakthroughs will
                        be made in improving the stability and effectiveness of the strains in the future.</p>
                    <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-3-3-4.webp" alt="ihp-3.2">
            </div>
            <h2>3.3 Interview: Professor Ying Xing, director of the Endocrinology and Metabolism Department, Daxing Hospital East Campus </h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-2-1.webp" alt="ihp-3.3">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>We want to not only deepen the program, but also broaden it. “ What are the cutting-edge treatments for diabetes, what are the promising treatments to focus on, and what are the applications of the project at the intersection of medicine
                    and industry? " These are all questions we want to focus on. </p>
                <p>During this insightful and fruitful interview, our AFMU-China iGEM team had the privilege of engaging with Dr. Xing Ying, the director of the Endocrinology and Metabolism Department at Daxing Hospital East Campus. We delved into the epidemiological
                    status, treatment approaches, preventive strategies, and fusion trends of type 2 diabetes mellitus. Dr. Xing's extensive clinical experience and profound academic expertise significantly enriched our project's knowledge framework,
                    significantly expanding our understanding of this global health challenge.</p>
                <p>Prof. Ying Xing meticulously outlined the current mainstream treatments for type 2 diabetes, encompassing lifestyle interventions, oral medications (such as metformin and acarbose), and innovative injectable formulations (like GLP-1 receptor
                    agonists). He particularly underscored the unique advantages and potential of traditional Chinese medicine in treating diabetes and its complications. This integration of frontier knowledge with clinical practice provided a solid theoretical
                    foundation and innovative inspiration for our project in exploring comprehensive diabetes management solutions.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-2-2.webp" alt="ihp-3.3">
                <p>Dr. Xing emphasized the potential of artificial intelligence and big data in diabetes management, inspiring our team to merge technology with healthcare. She noted these tools could enhance diagnostic accuracy and support personalized
                    treatment plans.
                    <p>
                        <p>Her insights enriched our project's depth and highlighted its uniqueness. We are committed to developing an integrated diabetes management system that blends traditional medical wisdom with modern technology to benefit diabetic
                            patients globally.</p>
            </div>

            <h2>3.4 Interview: Professor Gang Ji, director of the Gastrointestinal Surgery Department, Xijing Hospital</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-3-4.webp" alt="ihp-3.4">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>After confirming the feasibility of protein secretion, we addressed dosage control and meal timing concerns by proposing food stress induction. Dr. Gang Ji, a digestive health expert, endorsed this idea, noting that food intake significantly
                    increases bile acid secretion, impacting FGF21 expression.
                    <p>
                        <p>He advised us to start basic research with cell models like HepG2 or Caco-2 to observe bile salt effects on FGF21. We’ll analyze FGF21 expression at varying bile salt concentrations using bioinformatics and high-throughput sequencing.
                            Dr. Ji also emphasized studying FGF21's interaction with gut microbiota, as their metabolites may influence its function. Finally, we designed a bile acid-activated stress promoter to implement our food-borne stress induction
                            strategy.
                        </p>
            </div>
            <h2>3.5 Brainstorm the fourth time</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-5-1.webp" alt="ihp-3.5">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>The 2024 Fourth Brainstorming Session hosted by HP witnessed a profound exploration into the iGEM competition, particularly illuminated by the insightful lecture of Assistant Researcher Xinyuan Qiu. With "Mammalian Cell Gene Circuits and
                    Cell Function Regulation" as the central theme, Qiu delved into the core principles and application prospects of synthetic biology, metaphorically comparing complex biological mechanisms to intricate electronic systems, thereby igniting
                    the imaginations of team members in the realm of life sciences.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-5-2.webp" alt="ihp-3.5">

                <p>His elaboration on gene switches and the construction of sophisticated gene circuits not only broadened our academic horizons but also laid a solid theoretical foundation for subsequent experimental designs. Notably, Qiu combined the practical
                    experience of the iGEM team at the National University of Defense Technology, offering invaluable guidance to us in aspects ranging from time management, team building, to material preparation. He emphasized the paramount importance
                    of engineering thinking in iGEM competitions, encouraging team members to embrace trial and error, iterative optimization, an ideology deeply ingrained in every iGEMer's mind.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-5-3.webp" alt="ihp-3.5">

                <p>Inspired by Qiu's insights, we actively engaged in discussions, fervently exploring the optimization of FGF21 degradation rates and the potential for microbiota to traverse intestinal mucosal barriers. This demonstrated the team's enthusiasm
                    for scientific inquiry and commitment to team development.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-5-4.webp" alt="ihp-3.5">
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp3-5-6.webp" alt="ihp-3.5">
                <p>The session not only deepened the team's understanding of the iGEM competition but also, under Qiu's meticulous guidance, illuminated a clear path forward for our project. Team members have pledged to leverage this opportunity to continually
                    upgrade their skills, strengthen team collaboration, and jointly contribute to the spectacular achievements on the iGEM stage.</p>


            </div>
        </div>

        <div class="h" id="four">
            <h1>4 Project design refinement</h1>

            <h2>4.1 Modelling difficulties</h2>
            <p>As the experiment proceeded, we started the first modelling. However, we soon found a problem, the fischer proteins we designed were all straight chains, so the molecules could not dock (docking) because the target proteins had too many torsion
                bonds, and we suspected that it was the effect of the addition of fischer proteins. Through interviews with modelling experts, we came to the conclusion that Cichlidin is a low molecular weight protein and theoretically has no effect on
                the binding of FGF21 to the receptor. Eventually the second iteration of modelling also proved that there was no major effect of fischerin.</p>

            <h2>4.2 Brainstorm the fifth time</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp4-2.webp" alt="ihp-4.2">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>The Fifth Brainstorming Session of the AFMU-China 2024 was an important step for the team, focusing on webpage design scheduling and improving the graphics team’s work. The web design team leader who presented a detailed report on the
                    wiki design’s progress, highlighted the completed framework and discussing challenges and solutions. This boosted team confidence and renewed enthusiasm for the project.
                    <p>
                        <p>During the discussions, content team members shared valuable insights, suggesting improvements to make the webpage more rich, accurate, and engaging. They stressed the importance of credible information while proposing unique sections
                            to attract a larger audience. The team quickly turned these suggestions into actionable steps to enhance the web content.
                            <p>
                                <p>The meeting also emphasized the graphics team’s key role, raising the bar for visual presentation. Team leaders assessed the current designs and outlined a plan to improve color schemes, icons, and layouts. They noted that
                                    a visually appealing and functional interface is essential for user experience and showcasing the team's achievements. They prioritized stronger collaboration among graphics, web design, and content teams to ensure
                                    a consistent style and information.
                                    <p>
                                        <p>During the meeting, team members actively engaged, showing strong commitment to the project's success. It clarified adjustments to the web design schedule and graphic tasks while outlining the team's final responsibilities.
                                            Thanks to iHP, the initial project design was nearly complete with only a few tasks remaining.</p>
            </div>
        </div>

        <div class="h" id="five">

            <h1>5 Market research & Humanities</h1>

            <h2>5.1 Bioteke Corporation(Wuxi) Co., Ltd</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-5-1.jpg" alt="ihp-5.1">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>We are fortunate to have established contact with Wuxi Bioteke Company, which is a pioneering company in China that screens natural flora in the human gut and produces related products. Both of us gave a brief introduction to their projects,
                    focusing on the current status of diabetes treatment.
                    <p>In our communication, they provided valuable suggestions for the future transformation of our products. First is the form of product launch; if it is in the form of food or food additives, the time period would be shorter than that
                        of drugs, but considering that ours is an engineered microorganism, safety should still be taken into account. Second is the delivery form; once safety and efficacy are verified, it could be combined with their probiotics for co-production,
                        exploring the possibility of long-term colonization. There are still some potential technical difficulties, such as encapsulation technology, how to maintain high activity after passing through the human digestive tract, and how
                        to preserve live bacteria. They told us that, currently, some freeze-drying techniques can preserve for up to 2 years.</p>
                    <p>Through this communication, we have gained a tangible understanding of the process involved in bringing a probiotic product to market, which has provided us with a clearer vision for future commercialization efforts.
                        <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-5-1-2.jpg" alt="ihp-5.1.2">
            </div>
            <h2>5.2 Chinese humanities</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/baduanjin.webp">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <h3>5.2.1 Physical prevention in TCM</h3>
                <p>In the regulation and control of diabetes, TCM (Traditional Chinese Medicine) plays an important role both in alleviating symptoms and in controlling blood sugar levels by harmonizing qi and blood, balancing Yin and Yang.</p>
                <p>In the theory of traditional Chinese medicine, <span class="pi_show"><strong>Qi</strong></span> is regarded as the basis of maintaining human life activities, and their smooth operation is directly related to the normal function of each
                    zang-fu organ (including both physiological functions of organs themselves and their functions related to psychology and emotions). Yin-yang balance is the cornerstone of TCM theory system, which runs through the comprehensive understanding
                    of human physiology, pathology and treatment in TCM. </p>
                <p><strong>Some common TCM methods</strong></p>
                <p>Acupuncture therapy: precise adjustment, balance of body and mind.</p>
                <p>Massage therapy: remove the disease by hand and dredge the meridians.</p>
                <p>Exercise therapy: combination of static and static, physical fitness.</p>
                <p><strong>Long-term effects</strong></p>
                <p>Control blood sugar levels: Steady regulation, away from risk.</p>
                <p>Delay complications: comprehensive protection to protect health.</p>
                <p>Improve the quality of life: physical and mental harmony, enjoy life.</p>
                <p>To sum up, physical prevention in traditional Chinese medicine has irreplaceable advantages and values in the regulation and control of diabetes. They focus not only on the current symptoms of the disease, but also on the overall health
                    and future well-being of the patient. Therefore, for patients with diabetes, it is a wise choice to actively use traditional Chinese medicine physical prevention methods for prevention and treatment. At the same time, in order to ensure
                    the safety and effectiveness of treatment, patients should be under the guidance of professional doctors to develop and implement personalized treatment plans.</p>
                <h3>5.2.2 The Ba duan jin fitness course for T2DM</h3>
                <p>Have you ever heard "Ba duan jin"? It serves as the foundation of Chinese Kung Fu, offering numerous benefits such as enhancing physical fitness, lowering blood lipids, reducing obesity risk, and promoting a longer lifespan. Join us today!</p>
                <p><a href="https://video.igem.org/w/ri4oaT4gMaPE2ttjJCwBTn">Click here to get fit with us!</a></p>
                <p>What is more worth mentioning is that the launch of this Baduanjin provides a very valuable way for diabetic patients to exercise healthily. Prior to this, the scientific community has shown that long-term adherence to the practice of
                    Baduanjin has a significant effect on improving the blood sugar control of type 2 diabetes patients, enhancing physical fitness and promoting the improvement of the disease.</p>
                <p>Therefore, this tutorial is not only a useful fitness guide, but also a strong support for the rehabilitation of the majority of diabetic patients. Its launch not only provides a valuable reference for patients with diabetes, but also
                    makes a positive contribution to promoting healthy exercise and improving public health.</p>
            </div>
            <h2>5.3 Environmental concerns</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-5-3.webp" alt="ihp-5.3">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>We consulted environmental engineering experts from Northwest University on whether our bacteria could cause pollution issues. We learned that Lactobacillus are widely distributed in the environment and are mostly harmless in most cases,
                    with many industries using them for processing. To determine whether they are harmful, one aspect is to see if they carry antibiotic resistance genes, and the other is to consider whether they produce harmful metabolites. For this,
                    some environmental monitoring indicators can be conducted, such as nitrogen oxides (NOx), sulfur dioxide (SO2), carbon monoxide (CO), heavy metals (such as copper, zinc, chromium), and organic pollutants (such as pesticides, polycyclic
                    aromatic hydrocarbons), etc. Thus, we consider our project thoroughly to create environmentally friendly products.</p>
            </div>
        </div>
        <div class="h" id="six">
            <h1>6 Public feedback</h1>
            <h2>6.1 Promotion: Dragon Boat Festival Health Activities</h2>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-6-1-1.webp" alt="ihp-6.1">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>To gain a deeper understanding of the public awareness and promoting knowledge about diabetes to community residents, we engaged in face-to-face communication with citizens through various forms such as questionnaire surveys and community
                    interviews, listening to their views, confusions, and various challenges in daily life. This valuable feedback not only made us more clearly aware of the extensive social impact of diabetes but also provided important references for
                    our subsequent project.</p>
                <p>On the Dragon Boat Festival, a traditional Chinese festival, we met citizens of all professions, each with their own confusions and expectations, sharing their stories with us.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-6-1-2.webp" alt="ihp-6.1">

                <p>A middle-aged man told us that due to his busy work, irregular diet, and family genetic factors, he unfortunately diagnosed with diabetes. He said, "After this, I realized how important health is. Now I have to measure my blood sugar every
                    day and be very careful about what I eat." His words revealed helplessness in life and a desire for health.[pic6-2]</p>
                <p>There was also a young diabetic patient who said that due to societal misunderstandings and prejudices about diabetes, she often encountered discrimination in her work and life. She hopes that society can be more tolerant and understanding
                    of diabetic patients, providing them with more support and care.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-6-1-3.webp" alt="ihp-6.1">

                <p>In the interviews, we not only understood the citizens' cognition and attitude towards diabetes but also collected many valuable suggestions and opinions. Many citizens praised our project and looked forward to our product being able to
                    bring good news to diabetic patients as soon as possible.[pic6-3,4]</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-6-1-4.webp" alt="ihp-6.1">

                <p>There are also worries about new drugs, such as the safety, side effects, price, availability, especially in remote areas or developing countries. And the most important, whether it can effectively play a role and whether it has advantages
                    compared to existing treatment methods.</p>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-6-1.webp" alt="ihp-6.1">

                <p>On this special event, we felt the citizens' desire for a healthy life and their expectations for our project, and we have gained many valuable suggestions. In the future, we will continue to work hard and present it in a more effective
                    way.[pic6-5]
                </p>
            </div>
            <h2>6.2 Product usage report collection</h2>
            <p>FIST engineering lactic acid bacteria product comprehensive analysis report</p>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp-6-2-1new.webp" alt="com-8">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <h3>1.Geographical adaptability of products</h3>
                <p>FIST's investigation of engineered lactic acid bacteria products covers Shandong, Fujian, Sichuan, Henan, Liaoning and other provinces, showing that the product has a wide range of geographical adaptability. This shows that the product
                    can be effectively used in different geographical environments to meet the needs of consumers in different regions.[pic1]</p>
                <h3>2. User feedback and satisfaction</h3>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp6-2-2.webp" alt="ihp-6.2">

                <p>Post-use satisfaction: Most users have a high overall satisfaction with the product. For example, users 27 and 92 both said they were "very satisfied," and although there were individual users (such as user 53) who said they were "very
                    dissatisfied," the overall feedback was positive.[pic2]</p>
                <h3>3. Changes in blood sugar levels</h3>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp6-2-3.webp" alt="ihp-6.2">
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp6-2-4.webp" alt="ihp-6.2">

                <p>Most users (e.g. 53, 92, 98) reported a decrease in blood sugar levels after using FIST, which directly proves the positive effect of the product on blood sugar control. Even if user 27 reports a "slight rise" in blood sugar, this may
                    be the result of individual differences or not fully following the recommendations for use.[pic3、4]</p>
                <h3>4. Other health improvements</h3>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/ihp6-2-5.webp" alt="ihp-6.2">
                <p>Some users (e.g. 53, 98, 103) also reported other health improvements, such as improved digestion and immunity, which further demonstrated the overall health benefits of the product.[pic5]</p>
                <h3>5. Product improvement and optimization suggestions</h3>
                <p>A number of improvements were suggested in user feedback, such as the aesthetics of product labels (user 27), easy storage of packaging (user 53), attractive design (user 92), innovative taste (user 131), and flexibility of customized
                    services (users 98, 103). These suggestions provide valuable direction for the continuous optimization of the product.</p>
                <h3>6. Product approval standards</h3>
                <p>Based on the above analysis, we can formulate the following acceptance criteria for FIST engineered lactic acid bacteria products:</p>

                <p>1）<strong>Wide regional adaptability:</strong> The product should be able to maintain stable performance in different regional environments to meet the needs of consumers in different regions.</p>
                <p>2）<strong>Significant blood sugar control effect:</strong> Most users should be able to observe a significant decrease in blood sugar level after using the product, which proves that the core function of the product is effective.</p>
                <p>3）<strong>Comprehensive health benefits:</strong> The product should be able to bring other health improvements in addition to blood sugar control, such as improving digestion and immunity.</p>
                <p>4）<strong>High user satisfaction:</strong> Through the collection of user feedback, the product should obtain a high overall satisfaction evaluation.</p>
                <p>5）According to user feedback, the product should be continuously improved and optimized to improve the user experience and product performance to meet the needs of more consumers.</p>

            </div>
        </div>
        <div class="h" id="seven">
            <h1>7 Deep Dive</h1>
            <h2>7.1 Marginalized population</h2>
            <h3>7.1.1 Diabetic retina-related patients</h3>
            <img src="https://static.igem.wiki/teams/5283/ihp-img/7-1-1.webp" alt="ihp-7-1-1" padding-bottom="10px">
            <div class="content-button">
                <button class="toggle-control-button">Learn more!</button>
            </div>
            <div class="p-content">
                <p>As we conducted our interviews, we uncovered a major complication faced by diabetics: <strong>Blindness</strong>. According to WHO statistics, about 2% of diabetes patients are blind after 15 years, and around 10% experience severe vision
                    loss.
                </p>
                <p>To educate individuals who are blind due to diabetes, as well as those who are congenitally or postnatally blind, about diabetes and our food-based, non-invasive, long-lasting products, we developed a Braille version of the manual and
                    a science education podcast.</p>
                <p><strong>A.Braille version of the manual</strong></p>
                <p>Although our product is not restricted to human groups, we have designed the instructions in Braille so that they can be used in a way that will benefit every group of people.</p>
                <iframe src="https://static.igem.wiki/teams/5283/pdf/braille-product-manual.pdf"></iframe>
                <p><strong>B.Science education podcast</strong></p>
                <p>Considering that our stakeholders have a great probability of accumulating retinopathy that leads to blindness, we also collaborated together on podcasts related to science, so as to obtain the purpose of diabetes related science knowledge
                    through non-visual effects.</p>
                <p>Our podcast covers the definition and classification of diabetes, clinical symptoms, available treatments, the engineered lactobacillus treatment designed and developed by our team, and the management of diabetes in daily life. We hope
                    that through the podcast, we can achieve the protection and care of marginalised diabetes stakeholders and reach out to a wider section of society.</p>
                <iframe title="AFMU-China: A science podcast for T2DM (2024)" width="560" height="315" src="https://video.igem.org/videos/embed/690266d5-8d74-47ec-9a2f-aa93270a7fb3" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
            </div>   


                <h3>7.1.2 Insurance & Charity</h3>
                <p>To explore the current social medical security system for diabetes patients in China and its operation, we conducted in-depth interviews to understand the healthcare challenges they face and the insurance claims process from the perspective
                    of front-line workers. <a href="{{  url_for('pages', page='communication') }}#seven">click here</a>. This inspired us to establish a charitable organization dedicated to supporting vulnerable groups, such as elderly diabetic patients.
                    Additionally, for those who still struggle with basic social security, we aim to create organizations that will provide real benefits. Click here for more details. </p>
                <p>You can see details of our activities in the image below, following discussions with legal stakeholders.</p>
                <iframe src="https://static.igem.wiki/teams/5283/pdf/public-welfare-organization.pdf"></iframe>
                <h3>7.1.3 AFMU-China's Mediterranean Diet (Chinese version)</h3>
                <img src="https://static.igem.wiki/teams/5283/ihp-img/cook-book.webp">
                <div class="content-button">
                    <button class="toggle-control-button">Learn more!</button>
                </div>
                <div class="p-content">
                    <p>When advising new diabetics, we generally recommend a “five-horse cart”, i.e., diet control, rational exercise, blood glucose monitoring, medication and diabetes education. Among them, diet control and rational exercise, as the main
                        components of lifestyle intervention, are the cornerstones of diabetes treatment.</p>
                    <p>However, for diabetic diet, new diabetic patients often feel confused, when searching the Internet, you can see a lot of articles about how to eat a diabetic diet, obviously the previous article mentioned that some ingredients can
                        be eaten, to another but said that can not be eaten, self-contradictory. As a result, many people with diabetes have become tied up, and do not dare to eat anything, for fear that accidentally eating the wrong food will cause unstable
                        blood sugar control. In fact, there is no absolute no-go area for diabetics when choosing food, the key is to have a reasonable intake.</p>
                    <p>So we interviewed Prof. Ruihua Yang and investigated patients' dietary patterns, and formulated an exclusive “food pyramid” for diabetic patients - the Chinese version of the “Mediterranean Diet”.</p>
                    <iframe src="https://static.igem.wiki/teams/5283/pdf/food-book.pdf"></iframe>
                    <p><strong>What is the “Mediterranean Diet (Chinese version)”?</strong></p>
                    <p>The Mediterranean Sea is located between the three continents of Asia, Europe and Africa, and the whole sea is like a sink, so it is jokingly called “God's forgotten foot basin on earth”. It is said to be forgotten, but in fact, the
                        ancient Mediterranean civilization is the foundation of modern Western civilization.</p>
                    <p>In terms of diet, the Mediterranean region's ancient diet on the health of the local people played an important contribution to the mid-19th century, the American nutritionist Ansel Keith in the “seven countries study”, specifically
                        put forward a new term, called “Mediterranean diet”. The study showed a negative correlation between adherence to the Mediterranean diet and the incidence of fatal and non-fatal heart disease in adults in the Mediterranean region.
                        Through interviews with Chinese experts and surveys of patients' dietary habits, we have innovatively adapted to local conditions and created a “Mediterranean Diet (China Version)” for Chinese diabetics. We have also developed
                        a sample weekly (7 days) recipe with ingredients, cooking methods, calories, etc., so that you can choose or learn from it according to your own tastes. You can choose or learn from it according to your own taste and preference.</p>
                    <p>[Recipes of T2DM patients]
                        <iframe src="https://static.igem.wiki/teams/5283/pdf/detailed-recipes-of-the-week.pdf"></iframe>
                    </p>
                </div>
                <h2>7.2 Reflection and Circulation</h2>
                <h3>7.2.1 Reflection</h3>
                <p>By carefully incorporating ethical, humanistic, and social considerations, we not only strive to ensure the accuracy and validity of our diagnostic tools, but we also address the human aspect of mental health with due compassion and empathy.
                    By engaging with patients, healthcare professionals, advocates, and communities, we foster collaboration and understanding beyond the lab or clinic. We recognise that the success of our innovations depends not only on their scientific
                    merit, but also on their ability to positively impact the lives of people with T2DM. By combining rigorous scientific research with a human-centred approach, we aspire to usher in an era where lifesaving diabetes care is not only technologically
                    advanced, but also rooted in empathy, compassion and respect for the dignity of each individual.</p>
                <h3>7.2.2 Circulation</h3>
                <p>From the philosophical level, we have designed HP's spiral rise - the development of the project from affirmation to negation and then to negation of negation, forming a cycle, one circle after another, and at the completion of each circle
                    there is a reversion to the starting point, forming an infinite chain connected by countless circles. The completion of each circle is like a reversion to the starting point, forming an infinite chain connected by countless circles,
                    showing an upward spiral, and ultimately allowing our project to enter a stage of completeness and maturity, feasibility and effectiveness, social responsibility, maximum coverage of the social population, and benefit to the society.</p>
            </div>

            <div class="mainBox">
                <div class="spiral1" id="spiralBox1"></div>
            </div>

            <div class="h" id="eight">
                <h1>Overview of the HP Event Schedule</h1>
                <img style="width: 100%;" src="https://static.igem.wiki/teams/5283/ihp-img/human-practice-activity-schedule-sheet1.webp">
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}