{% extends "layout.html" %} {% block title %}Notebook{% endblock %} {% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %} {% block page_content %}
<!--<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Chronological notes of what your team is doing.</li>
      <li>Brief descriptions of daily important events.</li>
      <li>Pictures of your progress.</li>
      <li>Mention who participated in what task.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul> 
      <li><a href="http://2018.igem.org/Team:Munich/Notebook">2018 Munich</a></li>
      <li><a href="https://2019.igem.org/Team:Georgia_State/Notebook">2019 Georgia State</a></li>
      <li><a href="https://2019.igem.org/Team:Newcastle/Notebook">2019 Newcastle</a></li>
      <li><a href="https://2020.igem.org/Team:IISER-Pune-India/Notebook">2020 IISER Pune India</a></li>
      <li><a href="https://2020.igem.org/Team:Lund/Notebook">2020 Lund</a></li>
      <li><a href="https://2020.igem.org/Team:NOVA_LxPortugal/Notebook">2020 NOVA LxPortugal</a></li>
      <li><a href="https://2020.igem.org/Team:RDFZ-China/NoteBook">2020 RDFZ China</a></li>
    </ul>
  </div>
</div> -->


<div class="background-overlay"></div>
<img class="X-background" src="https://static.igem.wiki/teams/5283/backgroundp/notebook456.webp" alt="X-background">
<div class="X">
    <div class="X-title">
        <span>Notebook</span>
    </div>


    <div class="sidebar">
        <ul>
            <li><a href="#one" id="nav-one">February</a></li>
            <li><a href="#two" id="nav-two">March</a></li>
            <li><a href="#three" id="nav-three">April</a></li>
            <li><a href="#four" id="nav-three">May</a></li>
            <li><a href="#five" id="nav-three">June</a></li>
            <li><a href="#six" id="nav-three">July</a></li>
            <li><a href="#seven" id="nav-three">August</a></li>
            <li><a href="#eight" id="nav-three">September</a></li>

        </ul>
    </div>

    <div class="X-content">
        <div class="h" id="one">
            <h1>February</h1>
            <p>During this month's recruitment activities, we introduced the upcoming iGEM competition to potential new members through an online meeting. Members from the previous team shared their valuable experiences, including how to prepare for the
                competition, team collaboration skills, and the impact of participating in the competition on their personal growth. This meeting not only attracted many talented students but also stimulated their interest in synthetic biology and the
                iGEM competition.</p>
        </div>

        <div class="h" id="two">
            <h1>March</h1>
            <p>This month, we had the privilege of inviting Professor Han Hua to hold a lecture on synthetic biology for team members and interested students. Professor Han provided an insightful introduction to the fundamental principles of synthetic biology,
                current research trends, and future application prospects. Furthermore, he encouraged students to contemplate how synthetic biology could be applied to address real-world issues, broadening their scientific perspectives and stimulating
                innovative thinking among the attendees.</p>
        </div>

        <div class="h" id="three">
            <h1>April</h1>
            <p>With the addition of new members, we held a meet-and-greet this month aimed at introducing new and old members to each other, understanding the team culture, and making preliminary assignments based on each individual's interests and expertise.
                This meeting provided a platform for team members to get to know each other and establish connections, laying the groundwork for subsequent project collaboration.</p>
            <p>During our first brainstorming session of the month, team members actively proposed a variety of innovative ideas and project proposals. We engaged in in-depth discussions and corrections to narrow down these ideas, ultimately selecting several promising
                proposals that laid the foundation for the next round of detailed planning and design. This brainstorming session not only stimulated the team's creativity but also strengthened communication and collaboration among members.</p>
        </div>

        <div class="h" id="four">
            <h1>May</h1>
            <p>This month, we solidified the project content for this year's iGEM competition through our second brainstorming session. Team members engaged in in-depth discussions around the chosen theme and ultimately made decision on the research direction.
                Additionally, to better promote our project, we began creating posters, promotional videos, and educational comics aimed at introducing the public to the allure of synthetic biology and our project philosophy.</p>
            <p>Concurrently, we initiated the design work for a series of lactobacillus-themed merchandise, which not only strengthens team cohesion but also serves as promotional material in subsequent events, helping us attract more attention and support.</p>

            <p>Furthermore, we commenced work on web modeling, planning to construct a professional website to showcase our project progress and achievements, while also providing a platform for team members to communicate and collaborate.</p>
        </div>
        <div class="h" id="five">
            <h1>June</h1>
            <p>To better understand the public's awareness and attitudes towards Type 2 diabetes, we designed and distributed questionnaires this month. Through these surveys, we collected a wealth of data, providing valuable information for further research
                into our project.</p>
            <p>We successfully achieved plasmid construction and transformation. The successful construction and transformation of the plasmid is the cornerstone of our project's success, proving that our genetic design strategy is feasible and implementable.
                This provides a reliable starting point for the project, ensuring that we can move forward on schedule and lays a solid foundation for subsequent experiments.</p>
            <p>- Then we have completed experimental training, learning the operations of various experiments.</p>
            <iframe src="https://static.igem.wiki/teams/5283/pdf/notebook-from-pengyu-wang-1.pdf"></iframe>
            <iframe src="https://static.igem.wiki/teams/5283/pdf/notebook-from-pengyu-wang-2.pdf"></iframe>
            <iframe src="https://static.igem.wiki/teams/5283/pdf/notebook-from-yingdong-hu.pdf"></iframe>
            <p>During the Dragon Boat Festival, we organized a community event to educate residents about diabetes-related knowledge, raising public health awareness.</p>
            <p>Bacterial growth modeling was completed. Through bacterial growth modeling, we can ensure the repeatability and predictability of experiments, which is crucial for the accuracy of subsequent experiments. This step guarantees that we can test
                our hypotheses in a standardized and controllable environment, providing a robust experimental platform for the project.</p>
            <p>Additionally, we interviewed patients with Type 2 diabetes and experts in the field to gain a deeper understanding of the current state of diabetes treatment and the actual needs of patients from their perspectives, providing important references
                for the project's further research.</p>
        </div>

        <div class="h" id="six">
            <h1>July</h1>
            <p>This month, we held our fourth brainstorming session and exchanged experiences with Assistant Researcher Qiu Xinyuan on our competition project. This exchange not only kept us informed about the latest developments in the iGEM competition
                but also provided us with valuable strategies and suggestions for participation.</p>
            <p>We completed the experiment of inducing bacteria to produce FGF21 under stress. Through this experiment, we verified that our project's engineered bacteria can serve as an effective bioreactor for producing proteins related to diabetes treatment.
                This not only proves the innovativeness of our approach but also offers a potential new avenue for diabetes therapy.</p>
            <p>We further completed the purification and Western Blot (WB) verification of FGF21, further confirming the functionality of our engineered bacterial system and the biological activity of the produced protein. This provides significant evidence
                for the success of our project, indicating that we can produce bio-molecules with therapeutic potential for use in future treatment strategies.</p>
            <img src="https://static.igem.wiki/teams/5283/notebook-img/9.webp" alt="notebook-2">
            <p>Concurrently, we engaged in in-depth exchanges with other GEM teams at the 11th CCiC conference, sharing our project philosophy and progress while also learning from the excellent experiences of other teams.</p>

            <p>Additionally, we interviewed Teacher Zhang Qiuju from the Ethics Teaching and Research Office to discuss biosecurity ethics and the impact of our project on humans and society, ensuring that our project meets ethical and social responsibility
                requirements while exploring science.</p>

            <p>To better showcase our project outcomes, we reported on the progress of our website design and arranged work for the art team, strengthening communication and collaboration among team members to ensure that the website accurately and aesthetically
                presents our project content.</p>
        </div>

        <div class="h" id="seven">
            <h1>August</h1>
            <p>We participated in the 6th Northwest Exchange Conference, sharing our research findings with other teams and learning about outstanding projects from them. This conference not only strengthened our connections with other teams but also provided
                us with valuable feedback and suggestions. And this is a part of our experimental documentation.</p>
            <iframe src="https://static.igem.wiki/teams/5283/pdf/notebook-from-lei-xiao-new.pdf"></iframe>
            <p>We also designed and completed an experiment to improve insulin resistance in adipocytes with FGF21, demonstrating that FGF21 can significantly enhance insulin sensitivity in 3T3-L1 differentiated adipocytes, offering new hope for cellular
                therapy in diabetes. This discovery confirms the potential of our engineered bacterial strategy in regulating cellular metabolism and improving the pathological state of diabetes.</p>

            <p>We successfully engaged in an exchange with the HP team from Hainan University. During this event, we shared our project experiences, discussed the latest advancements in the field of synthetic biology, and learned valuable knowledge and experience
                from their work. This exchange greatly broadened our horizons and strengthened our ties with the HP team from Hainan University.</p>
        </div>


        <div class="h" id="eight">
            <h1>September</h1>

            <p>We completed the P9 membrane surface fluorescence localization experiment, and the successful anchoring of the P9 protein on the bacterial surface demonstrated our ability to precisely control the bacterial surface display system. This provided
                a key technical validation for the project and offered an effective platform for subsequent research on the function of the P9 protein and its application in diabetes treatment.</p>

            <p>We completed the experiment of P9 stimulation of GLP-1 secretion in NCI-H716 cells, and by verifying the stimulation of GLP-1 secretion by the P9 protein, we confirmed the potential of our engineered bacterial strategy in regulating the secretion
                of intestinal hormones. This result provided an important molecular mechanism for the project, aiding us in further exploring and optimizing diabetes treatment strategies.</p>

            <p>We further confirmed through RT-PCR that the stimulation of GLP-1 secretion by the P9 protein and the upregulation of related pathway genes solidified the role of engineered bacteria in regulating the secretion of intestinal hormones, and
                provided a key molecular mechanism for the development of diabetes treatment strategies.</p>

            <p>Our team completed the production of a demonstration video, vividly showcasing our innovative strategy and project progress in treating Type 2 diabetes using engineered lactobacillus.</p>

        </div>

    </div>
</div>

{% endblock %}