{% extends "layout.html" %} {% block title %}parts{% endblock %} {% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %} {% block page_content %}

<!-- <div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #4</h4>
      <p>Make a useful contribution for future iGEM teams. Use this page to document that contribution.</p>
      <p>If you are making a contribution by adding information to an existing Part or creating a new Part, you must document your contribution on the Part's Main Page on the <a href="https://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria. You can use this page to link to that part and include additional information about your contribution.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2024 Medals Page</a> for more information.</p>
    </div>
  </div>
</div> -->

<div class="X">
    <div class="background-overlay"></div>
    <img class="X-background" src="https://static.igem.wiki/teams/5283/backgroundp/part1.webp" alt="X-background">
    <div class="X">
        <div class="X-title">
            <span>Parts</span>
        </div>




        <div class="part-content">
            <div class="partTable">
                <table>
                    <thead>
                        <tr>
                            <th>Part</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Sequence Length</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283012">BBa_K5283012</a></td>
                            <td>pGroELS</td>
                            <td>Regulatory</td>
                            <td>97bp</td>
                            <td>GroESL promoter, as a strong temperature-induced promoter, has shown significant potential and value in the field of gene engineering. In particular, GroESL promoter has made important achievements in promoting the high expression
                                of foreign genes in host cells.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283028">BBa_K5283028</a></td>
                            <td>USP45</td>
                            <td>DNA</td>
                            <td>81bp</td>
                            <td>USP45, full name Ubiquitin Specific Peptidase 45, is a deubiquitinase located in the cytoplasm and nucleus. It belongs to the ubiquitin-specific processing protease (USP) subfamily, members of which remove ubiquitin tags from
                                substrate proteins by hydrolysis of ubiquitin chains or individual ubiquitin molecules.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283014">BBa_K5283014</a></td>
                            <td>LEISSTCDA</td>
                            <td>DNA</td>
                            <td>27bp</td>
                            <td>LEISSTCDA enhancer peptide is a short-chain polypeptide that has been carefully designed and optimized for synthesis. The peptide chain is composed of a variety of amino acid residues with specific biological activities, which
                                are linked by specific peptide bonds to form a stable spatial conformation, thus endowing it with unique biological functions.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283015">BBa_K5283015</a></td>
                            <td>P32</td>
                            <td>Regulatory</td>
                            <td>171bp</td>
                            <td>P32 promoter facilitates high-level, constitutive expression of key biosynthetic genes in L. lactis.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283016">BBa_K5283016</a></td>
                            <td>FGF21</td>
                            <td>Coding</td>
                            <td>588bp</td>
                            <td><strong>Fibroblast Growth Factor 21</strong> (FGF21) is a hormone-like protein secreted by the liver and plays an important role in regulating glucose, lipid and energy metabolism.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283017">BBa_K5283017</a></td>
                            <td>LMWP</td>
                            <td>Coding</td>
                            <td>42bp</td>
                            <td>Low-molecular-weight protamine (LMWP) possesses cell translocating potency and can effectively deliver large molecules including proteins, gene products such as therapeutic plasmids, and siRNA into cells.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283018">BBa_K5283018</a></td>
                            <td>EFGF21</td>
                            <td>Coding</td>
                            <td>543bp</td>
                            <td>EFGF21, enhanced FGF21, enhances the thermal stability of FGF21 and reduces the first-pass elimination effect by modifying several amino acid residues in FGF21.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283019">BBa_K5283019</a></td>
                            <td>P9</td>
                            <td>Coding</td>
                            <td>2133bp</td>
                            <td>P9, an 84 kDa protein secreted by Akkermansia muciniphila, enhances GLP-1 secretion and glucose homeostasis.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283020">BBa_K5283020</a></td>
                            <td>cA-Anchor</td>
                            <td>Coding</td>
                            <td>588bp</td>
                            <td>The cA gene encodes a cell wall anchoring domain of AcmA, facilitating display of recombinant proteins on L. lactis surface.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283021">BBa_K5283021</a></td>
                            <td>(GGGGS)3</td>
                            <td>DNA</td>
                            <td>45bp</td>
                            <td>This part is a 15 amino acids linker, which provides flexibility between a protein and its tag. The amino acid sequence is GGGGS GGGGS GGGGS.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283000">BBa_K5283000</a></td>
                            <td>his-tag</td>
                            <td>tag</td>
                            <td>18bp</td>
                            <td>The his-tag is mainly used for the separation and purification of fusion proteins.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283022">BBa_K5283022</a></td>
                            <td>pGroESL-USP45-LEISSTCDA-Linker-LMWP-FGF21-histag</td>
                            <td>composite</td>
                            <td>986bp</td>
                            <td>This plasmid combines multiple functional sequences to efficiently express and secrete FGF21 protein under specific conditions, facilitating subsequent purification and application. It holds significant potential for research
                                and preclinical development in various fields.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283023">BBa_K5283023</a></td>
                            <td>pGroESL-SPusp45-LEISSTCDA-LMWP-Linker-EFGF21-histag</td>
                            <td>composite</td>
                            <td>952bp</td>
                            <td>This plasmid primarily uses the thermally stable EFGF21, with the expectation of better performance in foodborne stress-induced expression systems.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283029">BBa_K5283029</a></td>
                            <td>pGroESL-USP45-LEISSTCDA-linker-LMWP-FGF21</td>
                            <td>composite</td>
                            <td>961bp</td>
                            <td>This plasmid is based on BBa_K5283022 and has removed the his-tag, hoping to play a role in co-culture experiments with cells.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283026">BBa_K5283026</a></td>
                            <td>P32-USP45-LEISSTCDA-cA-Linker-P9</td>
                            <td>composite</td>
                            <td>2912bp</td>
                            <td>Constitutively express the P9 protein on the surface of L. lactis NZ and display it on the membrane surface.</td>
                        </tr>
                        <tr>
                            <td><a href="https://parts.igem.org/Part:BBa_K5283027">BBa_K5283027</a></td>
                            <td>P32 promoter-SPusp45-LEISSTCDA-acmA-Linker-P9-FLAG</td>
                            <td>composite</td>
                            <td>2936bp</td>
                            <td>Compared to plasmid BBa_K5283026, we have additionally incorporated the FLAG tag, a commonly used tag sequence for the detection and purification of proteins, which aids in tracking and verifying protein expression in experiments.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}