{% extends "layout.html" %} {% block title %}Safety{% endblock %} {% block lead %}Describe all the safety issues of your project.{% endblock %} {% block page_content %}
<div class="X">
    <div class="background-overlay"></div>
    <img class="X-background" src="https://static.igem.wiki/teams/5283/backgroundp/safety.webp" alt="X-background">
    <div class="X">
        <div class="X-title">
            <span>Safety</span>
        </div>


        <div class="sidebar">
            <ul>
                <li><a href="#one" id="nav-one">Overview</a></li>
                <li><a href="#two" id="nav-two">Safety Interviews</a></li>
                <li><a href="#three" id="nav-three">Laboratory Management</a></li>
                <li><a href="#four" id="nav-three">Safety Training</a></li>
                <li><a href="#five" id="nav-three">Experimental Safety</a></li>
                <li><a href="#six" id="nav-three">References</a></li>
            </ul>
        </div>

        <div class="X-content">
            <div class="h" id="one">
                <h1>Overview</h1>
                <p>Experimental safety and biological safety are the prerequisites and foundations for all our experiments. To this end, we have conducted extensive literature searches, interviews, consultations, and educational management to minimize the
                    potential for non-compliant behaviors and harm to the environment and experimenters during the experimental process.</p>
            </div>


            <div class="h" id="two">
                <h1>Safety Interviews</h1>
                <h2>Interview with the Teachers Responsible for Biological Experiment Safety</h2>
                <p>In order to better complete our safety form, we had close communication with the teachers who were responsible for biological experiment safety.</p>
                <p>We explained our project design and the requirements of iGEM. We designed and confirmed the safety conditions in advance, and we raised questions to them and obtained a series of suggestions ranging from project design to laboratory safety,
                    including but not limited to:</p>
                <p>1. How to solve the problem of bacterial diffusion: A prevention kit, such as a bactericide, can be designed together with the product to prevent the spread of bacteria to the environment.</p>
                <p>2. Solid waste must also be autoclaved, and it is necessary to inquire about how to handle these solid wastes in the future.</p>
                <h2>nterview with the Experimental Teachers</h2>
                <p>We interviewed the teachers in charge of experimental teaching in the team and asked them about the precautions for keeping <span class="italic">L. lactis strain NZ9000,</span> in the laboratory, further standardizing our handling of pollutants.
                </p>
                <p>In addition, we also consulted the teachers for suggestions on our project and learned about the issues we might need to consider when designing the hardware. At the same time, we also learned about some of the things our product needs
                    to do when facing large-scale production and industrialization.</p>
                <p>Through the teachers’ guidance, the safety of our laboratory has been guaranteed. After that, we need to further standardize our operations. At the same time, in addition to laboratory safety, we also need to ensure the safety of the product
                    during use, so we also need to conduct further interviews on safety.</p>
            </div>

            <div class="h" id="three">
                <h1>Laboratory Management</h1>
                <p>All our personnel's experimental operations strictly comply with the "Biological Safety Law of the People's Republic of China" implemented in 2021 .( National People’s Congress, et al, 2022)</p>
                <p>This year, our team's experiments mainly focused on <span class="italic">L. lactis strain NZ9000,</span>, and our laboratory is fully qualified to design them. Under the third-party safety review invited by iGEM, we upgraded the safety measures for microorganisms
                    and used the recommended biosafety cabinets for microbial experiments. In this way, we greatly improved the safety factor of related experiments.</p>
                <p>Our laboratory guidelines include but are not limited to:</p>
                <p>1. The instructions on the safety information board must be clear, and there is a safety inspection and health duty management system.</p>
                <p>2. The ventilation system of the experimental site is operating normally, the fume hood and the ultra-clean workbench can be used normally, and the cabinet door is opened at an appropriate height. Place the goods neatly and do not pile
                    up sundries.
                </p>
                <img src="https://static.igem.wiki/teams/5283/safty-img/safty-3-5-webp.webp" alt="safe-5">
                <p>3. When entering the laboratory, personal protective equipment should be worn as required. Do not leave the laboratory wearing personal protective equipment, such as contaminated laboratory clothing and gloves.</p>
                 <img src="https://static.igem.wiki/teams/5283/safty-img/safty-3-1-webp.webp" alt="safe-1">
                <img src="https://static.igem.wiki/teams/5283/safty-img/safty-3-2-webp.webp" alt="safe-2">
                <p>4. There should be no food and drinks in the laboratory.</p>
                <p>5. The laboratory has an emergency evacuation route map, and the fire passage is unobstructed. The laboratory is equipped with appropriate fire-fighting equipment, emergency sprayers, eye washers, and first aid kits, and is regularly maintained.</p>
                <img src="https://static.igem.wiki/teams/5283/safty-img/safty-3-3-webp.webp" alt="safe-3">
                <p>6. Any dangerous electrical appliances are prohibited in the laboratory.</p>
                <p>7. Hazardous chemicals comply with relevant national and school regulations. Laboratory personnel should understand the hazardous characteristics, safety protection knowledge, storage methods, waste disposal, and emergency handling methods
                    of the chemicals used.</p>
                <p>8. Hazardous waste and general waste should be stored separately, and hazardous waste labels should be posted.</p>
                <img src="https://static.igem.wiki/teams/5283/safty-img/safty-3-4-webp.webp" alt="safe-4">
                <p>9. The waste liquid containing bacteria needs to be disinfected before being poured into the sewer.</p>
                <p>10. Chemical Substance Safety</p>
               
                
                
                
            </div>



            <div class="h" id="four">
                <h1>Safety Training</h1>
                <p>Before starting wet laboratory work, all team members must participate in on-site specific laboratory safety training. This includes safety procedures for using biohazardous materials, such as proper personal protective equipment, aseptic
                    techniques, and disposal of waste materials. Team members are also trained to identify possible hazards in the laboratory and how to address possible risks, such as spills or fires.</p>
                <p>The main safety measures our team follows are:</p>
                <p>1. Use of gloves when working in the laboratory/handling biological materials</p>
                <p>2. Wear appropriate personal protective equipment when handling potentially harmful chemicals and other materials (goggles, lab coats, masks, etc.).</p>
                <p>3. Use an alcohol lamp when using biological materials to prevent contamination.</p>
                <p>4. Wipe all workbenches with 75% ethanol before and after work to prevent contamination.</p>
                <p>5. Follow all safety labels in the laboratory and observe the location of safety equipment (fire extinguishers, eye washers, etc.).</p>
                <img src="https://static.igem.wiki/teams/5283/safty-img/safty-4-1-webp.webp" alt="safe-6">
            </div>



            <div class="h" id="five">
                <h1>Experimental Safety</h1>
                <h2>Safety Design (Conjugation and Transfer of Resistance Plasmids in Intestinal Flora)</h2>
                <p>During the experiment, we considered the possible conjugation and transfer of resistance plasmids in the intestinal tract of our edited lactic acid bacteria. Through literature search and consultation with the instructor, we gradually
                    confirmed that the possibility of this situation is very small. At the same time, we also designed a future biological editing strategy for lactic acid bacteria to enhance the safety of our edited lactic acid bacteria.</p>

                <p>Regarding the possibility of low plasmid conjugation and transfer of the edited lactic acid bacteria resistance gene, we believe that there are mainly the following reasons:</p>

                <p>1. Firstly, Lactococcus lactis has a short colonization time in the intestine, ranging from 2 to 7 days, and is not a long-term colonization.
                </p>
                <p>2. There is also less plasmid transfer between <span class="italic">L. lactis strain NZ9000,</span> itself.</p>
                <p>3. The plasmid load itself is insufficient to transfer to other bacteria in the intestinal environment.</p>
                <p>For the future biological safety strategy of lactic acid bacteria, we have made the following design:</p>
                <p>Improvement of the Expression Host</p>
                <p>ThyA is a gene encoding thymidylate synthase (Thymidylate synthase), which plays a key role in DNA synthesis and can catalyze the conversion of dUMP to dTMP. dTMP is the precursor of dTTP, the basic raw material for DNA synthesis. Deletion
                    of the thyA gene in lactic acid bacteria can lead to cell death in response to thymidine starvation, namely Thymineless death (TLD) (Ross, et al, 1990; Ahmad, et al, 1998).</p>
                <p>① The lactobacillus with thyA deleted can grow and colonize normally in the medium supplemented with thymidine or in the mammalian intestine (the intestinal flora can metabolize to produce thymidine), and there is no significant difference
                    from the wild-type lactobacillus; </p>
                <p>② The lactobacillus with thyA deleted will produce a certain degree of overall stress response, but this response will not interfere with the expression and secretion of foreign proteins (Kurtz, et al, 2019; Ma, et al, 2016).</p>

                <p>The expression host currently used in this project is GRAS microorganism - <span class="italic">L. lactis strain NZ9000,</span>. The next step is to use the technology combining CRISPR-Cas9 system and ssDNA recombination to delete its thyA gene and construct a new
                    type of Lactococcus lactis that can only survive in the medium supplemented with thymidine or in the mammalian intestine, to avoid its possible environmental hazards after being excreted with the patient's feces.</p>
                <h2>Improvement of the Expression Vector</h2>
                <p>Nisin, also known as Lactococcus lactis peptide or transliterated as Nisin, is a polypeptide substance produced by Lactococcus lactis, consisting of 34 amino acid residues, with a molecular weight of about 3500 Da. Since Nisin can inhibit
                    most Gram-positive bacteria and has a strong inhibitory effect on the spores of Bacillus, it is widely used as a food preservative in the food industry. After consumption, it is quickly hydrolyzed into amino acids under the physiological
                    pH conditions of the human body and the action of α-chymotrypsin, and will not change the normal flora in the human intestinal tract or cause resistance problems like other antibiotics, nor will it cross-resistance with other antibiotics.
                    It is a natural food preservative that is efficient, non-toxic, safe, and has no side effects.</p>
                <p>Sub-inhibitory concentrations of Nisin (0.01-10 ng/mL) can be used to induce the expression of foreign proteins based on the NICE (Nisin-controlled expression, NICE) system in lactic acid bacteria, but Nisin above this concentration strongly
                    inhibits lactic acid bacteria. NZ9000 transformed with the Nisin resistance gene nsr can tolerate up to 5 μg/mL Nisin (Li R, etal, 2011).</p>
                <p>The expression vectors currently used in this project are the food-grade expression vectors pMG36e and pNZ8148 for lactic acid bacteria. The next step is to replace the antibiotic resistance genes in the above vector backbones with the
                    Nisin resistance gene nsr to realize the transformation from antibiotic screening to Nisin screening, avoiding the spread of antibiotic genes through transposition, transfer, or homologous recombination, leading to the emergence of
                    drug-resistant strains.
                </p>
                <h2>Implementation of Risk Management (Suicide Plasmid Design)</h2>

                <p>First of all, the <span class="italic">L. lactis strain NZ9000,</span> we selected belongs to a low-risk strain and has been approved by the US FDA as a safe genetically engineered recipient organism. They are currently widely used in scientific research and biomanufacturing
                    production, and there have been no cases of environmental pollution and ecological impact caused by leakage over the years. Secondly, we added a genome engineering method based on an inducible self-destructing plasmid, which delivers
                    homologous DNA into bacteria. The excision of the replicon by the induced recombinase helps select homologous recombination events. This new genome editing tool is called Inducible Plasmid Self-Destruction (IPSD), aiming to reduce
                    environmental release. In addition, we will disinfect after the experiment, and the management will handle the drainage of the laboratory to prevent the spread of engineered microorganisms in the environment(Zuo F, etal, 2019).</p>
                <img src="https://static.igem.wiki/teams/5283/safty-img/safty-5-1-webp.webp" alt="safe-7">
                <p>Under the simultaneous implementation and guidance of the above measures, our experiment proceeded smoothly within a few months without any adverse events.</p>

            </div>



            <div class="h" id="six">
                <h1>References</h1>
                <p>Ahmad, et al. Thymine metabolism and thymineless death in prokaryotes and eukaryotes. <strong>Annu Rev Microbiol</strong>. 1998;52:591-625. doi: 10.1146/annurev.micro.52.1.591. PMID: 9891809.</p>
                <p>Kurtz, et al. An engineered E. coli Nissle improves hyperammonemia and survival in mice and shows dose-dependent exposure in healthy humans. <strong>Sci Transl Med</strong>. 2019 Jan 16;11(475):eaau7975. doi: 10.1126/scitranslmed.aau7975. PMID: 30651324.</p>
                <p>Li, et al. Nisin-selectable food-grade secretion vector for Lactococcus lactis. <strong>Biotechnol Lett</strong>. 2011 Apr;33(4):797-803. doi: 10.1007/s10529-010-0503-6. Epub 2010 Dec 24. PMID: 21184135.</p>
                <p>Ma, et al. Characterization of a new Lactobacillus salivarius strain engineered to express IBV multi-epitope antigens by chromosomal integration. <strong>Biosci Biotechnol Biochem</strong>.2016;80(3):574-83.doi:10.1080/09168451.2015.1101330. Epub 2015 Nov
                    30. PMID: 26618736.</p>
                <p>National People’s Congress, et al. "Biological Safety Law of the People's Republic of China": Safety of Biotechnology Research, Development and Application [J]. <strong>Laboratory Animal and Comparative Medicine</strong>, 2022, 42(02): 126.</p>
                <p>Ross, et al. Thymidylate synthase gene from Lactococcus lactis as a genetic marker: an alternative to antibiotic resistance genes. <strong>Appl Environ Microbiol</strong>. 1990 Jul;56(7):2164-9. doi: 10.1128/aem.56.7.2164-2169.1990. PMID: 2117883; PMCID:
                    PMC184577.
                </p>

                <p>Zuo, et al. Inducible Plasmid Self-Destruction (IPSD) Assisted Genome Engineering in Lactobacilli and Bifidobacteria. <strong>ACS Synth Biol</strong>. 2019 Aug 16;8(8):1723-1729. doi: 10.1021/acssynbio.9b00114. Epub 2019 Jul 12. PMID: 31277549.</p>


            </div>
        </div>


    </div>
    {% endblock %}