{% extends "layout.html" %} {% block title %}Team{% endblock %} {% block lead %}{% endblock %} {% block page_content %}

<div class="background-overlay"></div>
<img class="X-background" src="https://static.igem.wiki/teams/5283/team-img/teambg.webp" alt="X-background">
<div class="X">
    <div class="X-title">
        <span>Team</span>
    </div>



    <div class="X-content">
        <iframe title="AFMU-China: AFMU-China2024 Team Video (2024) [English]" width="560" height="315" src="https://video.igem.org/videos/embed/b4f20a69-e118-4a14-b4dd-e183d7855eb6" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
        <div class="h" id="one">
            <h1>Roster</h1>
            <h2>Members</h2>
            <img src="https://static.igem.wiki/teams/5283/team-img/wpy.webp" alt="wpy">
            <h3>Pengyu Wang
                <h3>
                    <p>Senior Stomatology</p>
                    <p>This is my third year participating in iGEM, and I am honored to be the captain this year and compete alongside everyone!</p>
                    <img src="https://static.igem.wiki/teams/5283/team-img/zyb.webp" alt="zyb">
                    <h3>Yibo Zhao
                        <h3>
                            <p>Senior Clinical Medicine</p>
                            <p>An optimiser of the whole project, as team leader this year is committed to make the project more meaningful, so that AFMU-China2024 can be more perfect to show the style, more beneficial to the world!</p>
                            <img src="https://static.igem.wiki/teams/5283/team-img/xyh.webp" alt="xyh">
                            <h3>Yunhai Xu
                                <h3>
                                    <p>Senior Clinical Medicine</p>
                                    <p>Member of the team art team, mainly responsible for the project team logo and picture design, product promotion design.</p>
                                    <img src="https://static.igem.wiki/teams/5283/team-img/ch.webp" alt="ch">
                                    <h3>Hao Cheng
                                        <h3>
                                            <p>Senior Stomatology</p>
                                            <p>An upbeat and down-to-earth person. I get along well with classmates and lead an active life. I am eager to make more friends who share the same aspirations.</p>
                                            <img src="https://static.igem.wiki/teams/5283/team-img/xl.webp" alt="xl">
                                            <h3>Lei Xiao
                                                <h3>
                                                    <p>Senior Clinical Medicine</p>
                                                    <p>In the name of love, safeguard the radiance of life. Having a sense of belief to benefit more patients through synthetic biology.</p>
                                                    <img src="https://static.igem.wiki/teams/5283/team-img/hyd.webp" alt="hyd">
                                                    <h3>Yingdong Hu
                                                        <h3>
                                                            <p>Junior Clinical Medicine</p>
                                                            <p>A boy who enjoys sports and hopes to contribute to society through synthetic biology in the future.</p>
                                                            <img src="https://static.igem.wiki/teams/5283/team-img/lxc.webp" alt="lxc">
                                                            <h3>Xiangchen Li
                                                                <h3>
                                                                    <p>Junior Biotechnology</p>
                                                                    <p>I love my life with a strong will to create a better world with biology.</p>
                                                                    <img src="https://static.igem.wiki/teams/5283/team-img/hyf.webp" alt="hyf">
                                                                    <h3>Yifei Huang
                                                                        <h3>
                                                                            <p>Junior Biotechnology</p>
                                                                            <p>Enjoy surfing, both on the sea and the vast ocean of biology. Always have courage and be kind!</p>
                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/lxk.webp" alt="lxk">
                                                                            <h3>Xikun Lu
                                                                                <h3>
                                                                                    <p>Junior Biomedical Engineering</p>
                                                                                    <p>A passionate male college student, enthusiastic about computers and diverse hobbies, embracing life and contributing wisdom to iGEM's wiki project.</p>
                                                                                    <img src="https://static.igem.wiki/teams/5283/team-img/xzs.webp" alt="xzs">
                                                                                    <h3>Zishuo Xie
                                                                                        <h3>
                                                                                            <p>Sophomore Clinical Medicine</p>
                                                                                            <p>A logical boy who is extremely passionate about exploring the origin of all things in the world always keeps a scorching curiosity and holds an unending love for
                                                                                                life.
                                                                                            </p>
                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/wty.webp" alt="wty">
                                                                                            <h3>Tianyao Wang
                                                                                                <h3>
                                                                                                    <p>Junior Clinical Medicine</p>
                                                                                                    <p>A life-embracing enthusiast, imbued with an unwavering resolve to embark on thrilling quests and craft a world finer through the wonders of biology.</p>
                                                                                                    <img src="https://static.igem.wiki/teams/5283/team-img/yqh.webp" alt="yqh">
                                                                                                    <h3>Qinghong Yuan
                                                                                                        <h3>
                                                                                                            <p>Senior Clinical Medicine</p>
                                                                                                            <p>A guy who's always coming up with new ideas. Hope to meet more like-minded friends on the way to explore.</p>
                                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/wry.webp" alt="wry">
                                                                                                            <h3>Ruoyun Wen
                                                                                                                <h3>
                                                                                                                    <p>Junior Biotechnology</p>
                                                                                                                    <p>I am a positive and optimistic girl who loves life and exploration. I hope to explore the mysteries of life through synthetic biology and
                                                                                                                        contribute my own efforts to it.</p>
                                                                                                                    <img src="https://static.igem.wiki/teams/5283/team-img/cyh.webp" alt="cyh">
                                                                                                                    <h3>Yuhao Cao
                                                                                                                        <h3>
                                                                                                                            <p>Junior Clinical Medicine</p>
                                                                                                                            <p>A biology enthusiast, nature lover, enjoy exploring the intricacies of life and making the world better.</p>
                                                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/lwq.webp" alt="lwq">
                                                                                                                            <h3>Wenqing Li
                                                                                                                                <h3>
                                                                                                                                    <p>Senior Clinical Medicine</p>
                                                                                                                                    <p>A curious cat who’s very interested in pathology. We’re here to make the world a better place!</p>
                                                                                                                                    <img src="https://static.igem.wiki/teams/5283/team-img/czh.webp" alt="czh">
                                                                                                                                    <h3>Zihan Chen
                                                                                                                                        <h3>
                                                                                                                                            <p>Sophomore Aerospace Medicine</p>
                                                                                                                                            <p>A medical student majoring in aerospace medicine with both medical and aerospace perspectives, an explorer in the
                                                                                                                                                field of synthetic biology, and a dreamer of solving the world's problems with scientific and technological innovations.</p>

                                                                                                                                            <h2>Principal Investigators</h2>
                                                                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/qhy.webp" alt="qhy">
                                                                                                                                            <h3>Hongyan Qin</h3>
                                                                                                                                            <p>Professor of Medical Genetics and Development Biology, Air Force Medical University</p>
                                                                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/zjl.webp" alt="zjl">
                                                                                                                                            <h3>Junlong Zhao</h3>
                                                                                                                                            <p>Professor of Medical Genetics and Development Biology, Air Force Medical University</p>
                                                                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/ff.webp" alt="ff">
                                                                                                                                            <h3>Fan Fan</h3>
                                                                                                                                            <p>Lecturer of Medical Genetics and Development Biology, Air Force Medical University</p>
                                                                                                                                            <img src="https://static.igem.wiki/teams/5283/team-img/gcc.webp" alt="gcc">
                                                                                                                                            <h3>Chunchen Gao</h3>
                                                                                                                                            <p>Lecturer of Medical Genetics and Development Biology, Air Force Medical University</p>

                                                                                                                                            <h2>Instructors</h2>
<img src="https://static.igem.wiki/teams/5283/team-img/cjr-1.webp" alt="cjr">
                                                                                               <h3>Jiarui Chen</h3>
                                                                                                                                            <p>PhD Researcher in Air Force Medical University</p>
                                                                                                                                            <p>An enthusiast in life and life sciences with a strong will to reveal the mysteries of nature through synthetic
                                                                                                                                                biology.
                                                                                                                                            </p>
        
    </div>




    
</div>


{% endblock %}